[2020-10-24 07:59] witnessmenow opened #1 "Suggestion: Provide example config files for TFT_ESPI"
I think it would be a good idea to provide example config files for TFT_ESPI, especially for the way you recommend connecting everything up. When I get the makerfabs board working I'll share my one for that

[2020-10-24 12:50] DustinWatts commented on #1
I agree! Although TFT_eSPI has some good documentation on that, dragging a file known to be working is a lot easier!

[2020-10-24 12:52] DustinWatts opened #2 "Remove debug.h"
Debug.h makes things more complex and isn't really necessary. It is just a more complex way of doing serial.print.

[2020-10-25 11:33] DustinWatts commented on #2
As of 0.8.18 debug.h (and it's functions) is removed and no longer used.

[2020-10-25 11:33] #2 closed

[2020-10-25 12:03] DustinWatts commented on #1
Created a folder called `user_setup.h Examples` and uploaded my user_setup.h. I'm still doubting whether to have lot's of sub directories and in each of those a `user_setup.h` file. Or to do it like it is now, one directory and naming the setup files to give the best description but then have the user renaming the file to `user_setup.h` again. Off course copying the contents would also work.

[2020-10-25 12:17] DustinWatts commented on #1
See: https://github.com/DustinWatts/FreeTouchDeck/tree/master/user_setup.h%20Examples

[2020-10-25 12:17] DustinWatts commented on #1
Feel free to make a Pull Request with your User_Setup.h configuration.

[2020-10-31 20:58] DustinWatts opened #3 "Configurator not loading / "The connection was reset""
It seems that when the webserver is loading large files or handeling multiple requests in rapid succession, the configurator does not load properly. The connection seems to hang.

Debug output from the ESP32:

`handleFileRead: /`
`[D][WiFiClient.cpp:509] connected(): Disconnected: RES: 0, ERR: 128`
`[E][WebServer.cpp:617] _handleRequest(): request handler not found`

A possible solution is found o

[2020-11-01 06:11] DustinWatts commented on #3
One other thing that seems to help is to include the JavaScript code that is in the files `bigarrays.js` and `buttonfunctions.js` between `<script> ... place the code here ... </script>` tags and not as a link to the JavaScript files (e.g. `<script src="bigarrays.js></script>`)

[2020-11-01 06:25] DustinWatts opened #4 "Setting up FreeTouchDeck as AP instead of STA"
One of the ideas I'm playing with is to be able to switch the ESP32 WiFi mode to Access Point(AP) instead of Station (STA).
This would eliminate the need to have a WiFi connection available if you want to use the configurator.

Maybe have the option for both so the user can decide?

One thing I have to be aware of is that jQuery is pulled from the Google CDN. This could ensure that in whatever mod

[2020-11-01 11:29] witnessmenow opened #5 "The "Space" key doesn't seem to be an option in the configurator for commands"
Doesn't seem like there is an option for the space bar in the current options in the configurator

[2020-11-01 11:32] witnessmenow opened #6 "Allow for more steps per keypress"
Currently it is limited to 3.

Might require some rework, but I think using an array to store the steps would allow people to do more complicated actions.

[2020-11-01 11:34] witnessmenow opened #7 "Configurator web interface is slow to load"
The web interface for the configurator takes about 20 seconds to load for me (didnt time, but it's slow)

Any idea what is causing this?

I'm using Firefox on Windows 10.

[2020-11-01 11:36] witnessmenow opened #8 "Display version number somewhere"
Would be good to have a code version number displayed somewhere so people could mention what version they are on in issues

[2020-11-01 13:01] DustinWatts commented on #7
This is something that is known to be an ESP32 thing. I'm trying out some alternatives to the WebServer library I'm using now. My experience is that the more requests you send to the ESP32 the slower it gets.

[2020-11-01 13:04] DustinWatts commented on #5
That is not by design... I overlooked that one. I'll add it to the next push.

[2020-11-01 13:07] DustinWatts commented on #8
It displays it during boot in the top left corner. But after there is no way as of yet. I am planning the one still unused button in the "Settings" menu an "Info" button. Displaying all kinds of information like version, BLE Name/MAC, battery voltage (if a battery is used) and some other stuff. If you have other ideas what can be on that page, let me know!

[2020-11-01 13:09] DustinWatts commented on #6
I think switching from a static situation to an array with the actions would make this a lot easier! Work in progress! :)

[2020-11-01 13:32] DustinWatts commented on #4
Maybe this can also help with #3 and #7 ?

[2020-11-04 07:39] DustinWatts commented on #8
Commit https://github.com/DustinWatts/FreeTouchDeck/commit/6e6fffe14f2e160d4251ad7cb5852b543e2ead14 added an info screen to the settings menu. Displaying the FreeTouchDeck version and some other useful information.

[2020-11-04 07:40] DustinWatts commented on #5
Commit https://github.com/DustinWatts/FreeTouchDeck/commit/6e6fffe14f2e160d4251ad7cb5852b543e2ead14 added the spacebar to the "letters" list in the configurator. Not sure if this is the best place.

[2020-11-05 11:37] #8 closed

[2020-11-05 11:38] #5 closed

[2020-11-07 20:09] DustinWatts commented on #7
09bc3dc1379095a75623b51246f3c00995af1fde Makes the switch to ESPAsyncWebServer. Although this requires the user to install two additional libraries, I think the speed gained by this is very much worth it. If you experience any speed/reliability issues, feel free to re-open.

[2020-11-07 20:09] #7 closed

[2020-11-07 20:13] DustinWatts commented on #3
https://github.com/DustinWatts/FreeTouchDeck/issues/3#issue-733806188 Didn't do enough so version 0.9.0 (80686a020cdc164e5d6447f289d34db5060f80b8) uses ESPAsynWebServer instead. To reduce the number of requests to the ESP32 both JavaScript files mentioned above are still not linked but directly in the .htm file.

[2020-11-07 20:13] #3 closed

[2020-11-08 08:13] DustinWatts opened #11 "When enabling when sleep it was initially disabled, FTD immediately goes to sleep"
Because the Sleep Interval FreeTouchDeck uses is 0 by default and only set when loading the config, when sleep is disabled in the JSON config but then enabled through the menu, the Interval is not set and thus still set to 0. This causes FreeTouchDeck to immediately go to sleep.

Suggested fix:

**Line 1781:**
`wificonfig.sleepenable = true;`
`Interval = wificonfig.sleeptimer * 60000;`
`Serial.pri

[2020-11-08 08:36] #11 closed

[2020-11-15 16:09] DustinWatts opened #12 "Support for F13 - F24 keys"
In the ESP32-BLE-Keyboard library, F13 - F24 are available. It would be nice to implement those too.

[2020-11-22 10:01] DustinWatts commented on #12
https://github.com/DustinWatts/FreeTouchDeck/commit/3edb26dfe430ba7a8ee9319d4e2ef16aa5c5b34f Adds support for F13-F24.

_*Note: MacOS only goes up to F20_

[2020-11-22 10:01] #12 closed

[2020-11-22 13:53] CeJienAJPC opened #13 "FreeTouchDeck for Home Assistant"
Is there a way, for you to bring this awesome project to Home Assistant too?
I already commented on your Youtube Video regarding this (repeating here, coz this is a proper channel for adding NEW REQUESTS). Apologies though.

FreeTouchDeck + Home Assistant = Too many interesting use cases

Would love to see this project with Home Assistant

Regards

[2020-11-22 17:29] DustinWatts commented on #13
I've been looking in to this and Home Assistant exposes an RESTful API. I'm not sure yet on how to implement the use of this API (I mean the user interface and configuration), but I have been testing using HTTPClient at the same time as Bluetooth and those seem work together just fine.

Docs: https://developers.home-assistant.io/docs/api/rest

[2020-11-28 21:44] DustinWatts opened #15 "Managing free space in SPIFFS"
Something I recently thought of; "What if there is no more room on the SPIFFS and a user tries to upload a logo?" This also made me think of a configurator menu where users could delete logos that aren't used.

It also might be a good idea to check whether there is free space before actually uploading the logo.

[2020-12-07 21:43] DustinWatts commented on #15
Commit https://github.com/DustinWatts/FreeTouchDeck/commit/94c0b86b87b5d2c2ba645bbbf6dd6f010f6d3766 fixes both the issue of making sure there is space left on the SPIFFS and adds the configurator option to delete button logos.

[2020-12-07 21:43] #15 closed

[2020-12-17 19:13] R0CKB0TT0M opened #18 "Add reference to REPEAT_CAL to installation wiki"
after following the installation instructions to the . I had a problem where it wouldn't take any of my touch inputs. turns out all I had to do was calibrate it and it does say so at the top of the .ino file but it would be nice if the instructions also mentioned it.
Also would it be possible to make it receive commands over serial to start calibration or connect to WiFi.

[2020-12-18 07:40] DustinWatts commented on #18
Good point. I will add this to the wiki.

Regarding the possibility to send serial commands to FreeTouchDeck that should be possible.

[2020-12-18 08:17] DustinWatts commented on #18
Something like this in the loop() would work for re-calibrating without needing to re-upload the sketch:

[code]

Regarding connecting to WiFI. Do you mean setting your credentials? Or actually connecting to WiFi?

[2020-12-18 16:24] R0CKB0TT0M commented on #18
I was talking about actually connecting but having both would be optimal.
amazing work you've done here by the way.

[2020-12-18 19:54] DustinWatts commented on #18
Thanks! Setting the SSID and password through a serial connection is something that could be very useful. I'm just wondering why do you want to connect to WiFi through the serial monitor?

[2020-12-23 17:28] mbazzo opened #20 "Help me"
I'm trying to build and is showing me the following errors:

In file included from C:\Users\bazzo\Documents\Arduino\FreeTouchDeck\FreeTouchDeck.ino:257:0:
sketch\Touch.h: In function 'void touch_calibrate()':
Touch.h:37:9: error: 'class TFT_eSPI' has no member named 'setTouch'
     tft.setTouch(calData);
         ^
Touch.h:59:9: error: 'class TFT_eSPI' has no member named 'calibrateTouch'
     tft

[2020-12-23 17:39] mbazzo commented on #20
sorry, i ended up moving to another folder.

[2020-12-23 19:07] mbazzo commented on #20
I did the whole procedure but it just returns me this error

17:05:07.901 -> rst:0x3 (SW_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
17:05:07.901 -> configsip: 0, SPIWP:0xee
17:05:07.901 -> clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
17:05:07.901 -> mode:DIO, clock div:1
17:05:07.901 -> load:0x3fff0018,len:4
17:05:07.901 -> load:0x3fff001c,len:1216
17:05:07.901 -> ho 0 tail

[2020-12-23 20:43] DustinWatts commented on #20
'class TFT_eSPI' has no member named 'getTouch' is likely because you haven't defined TOUCH_CS in the User_Setup.h file.

As to the second error. I need a bit more information. Can you tell me what ESP32/Screen combination you use? Also, what are your settings under "Tools" when you upload the code? Does uploading the `data` folder using the ESP32 Sketch Data Upload tool work as expected?

Make su

[2020-12-25 20:47] #20 closed

[2020-12-25 20:50] mbazzo opened #21 "Setting up more subfolders"
It would be nice to put settings for more folders (subfolders). so you can put for example:

Games
        Steam
                      Dota 2
                      CS
                      etc....
        Blizzard
                      COD
                      WOW
                      etc....

[2020-12-26 14:55] DustinWatts commented on #18
https://github.com/DustinWatts/FreeTouchDeck/commit/f054b24a2bf314e6a50a39176e69058a24ebef11 Adds the ability to edit the wifi configuration through a serial connection. Described here: https://github.com/DustinWatts/FreeTouchDeck/wiki/5.-WiFi-and-Internet

Calibration can be reset by sending `cal reset` though a serial connection.

[2020-12-26 14:55] #18 closed

[2020-12-26 14:56] DustinWatts commented on #4
https://github.com/DustinWatts/FreeTouchDeck/commit/f054b24a2bf314e6a50a39176e69058a24ebef11 Adds the ability to start the configurator in station mode as well as access point. `jquery-3.5.1.jquery.min.js` is included in the data folder so an internet connection is not needed anymore.

[2020-12-26 14:57] #4 closed

[2020-12-28 20:58] DustinWatts commented on #13
Well... did some work on it the past month. And some basic integration is working now in my development version that I have locally. The part that doesn't work is is when HA is configured with DuckDNS to use SSL because there is not enough ram on the ESP available to start a secure network client. However, HA can be configured to use both SSL for outside connections and normal HTTP over internal c

[2020-12-29 04:54] CeJienAJPC commented on #13
That's a great progress. Thanks Dustin

[2020-12-30 07:04] DustinWatts commented on #21
That would be very nice indeed. The number of buttons/menus is for now hard coded. I'm working on a soft coded version, but this requires a lot of re-writing because I locked myself in to this structure from the start. But as more flexible button/menu configuration is request quite often it is worth spending time coding!

[2020-12-30 18:58] mbazzo commented on #21
It would also be good if you could change the background color of the buttons individually.

[2020-12-31 01:34] charliejgallo opened #22 "Latching not disappearing completely when using 320x240 display"
everything else works perfectly with an ili9341 (#define ILI9341_DRIVER and #define SPI_FREQUENCY  40000000 changed in user_setup.h and resolution set to 320 x 240 in FreeTouchDeck.ino) same wiring and pinout as the ili9488 resistive photo attached in the project.

![IMG_1292](https://user-images.githubusercontent.com/3107041/103389663-ff402d80-4aee-11eb-9fdb-57a28a3986c9.JPG)
![IMG_1293](https://

[2020-12-31 07:45] DustinWatts commented on #22
That is a good point. The latching dot is a fixed distance from the image on the button. What happens is, when the dot is drawn outside the button boundaries that part is not redrawn when "unlatching".

In `drawhelper.h` on line 16 the latching dot is drawn:
`  tft.fillRoundRect((KEY_X - 37 + col * (KEY_W + KEY_SPACING_X)) - 12, (KEY_Y - 37 + row * (KEY_H + KEY_SPACING_Y)) - 12, 18, 18, 4, general

[2020-12-31 15:56] charliejgallo commented on #22
`tft.fillRoundRect((KEY_X - 37 + col * (KEY_W + KEY_SPACING_X)) - 2, (KEY_Y - 37 + row * (KEY_H + KEY_SPACING_Y)) - 2, 18, 18, 4, generalconfig.latchedColour);` worked great!!

![IMG_1297](https://user-images.githubusercontent.com/3107041/103416841-1b7fb100-4b67-11eb-9123-db5bd4897faa.JPG)

also had to set text size to 1 (instead of 2 ) in line 1496 in Drawhelper.h for getting the system informati

[2021-01-01 16:31] bikejoco opened #23 "WiFi Config Failed to load an BT-Connetion is lost in 20sec."
Hello!
Thanks for your hard work to create this usefull Project.

I used this Instruction: https://www.instructables.com/A-Bluetooth-ESP32-TFT-Touch-Macro-Keypad/

But I can't start the WiFi Config. The wificonfig.json is correct modified with my SSID and PW. The TouchDeck initializied well and ich can touche the Buttons. In the BT-Menue on my Mac (10.12.6) I can see and connect to the FreeTouchDe

[2021-01-01 18:37] DustinWatts commented on #23
Hi Johannes! It seems the BT connection isn't made at all. Can you also tell what ESP32 Development board you have?

When the "WiFi Config Failed to load!" message is displayed on the screens it means that for some reason reading the JSON file went wrong. Can you open the serial monitor through the Arduino IDE and post the log from the serial monitor?

If the JSON file is not in the correct format

[2021-01-01 18:45] DustinWatts commented on #23
I just though of something else. I have updated the https://github.com/DustinWatts/ESP32-BLE-Keyboard. Can you install the new version of this library? If it is a memory issue, this will likely fix it.

[2021-01-02 07:51] bikejoco commented on #23
Thanks for your fast reply. I use this ESP32 Dev Board (aliexpress.com/item/32959541446.html). I tested it on my iPhone and was able to controle volume und mute. There ist works. Now I installed your update. Now it is permanet connected to my MacBooc via BT (seen in taskbar) as an keyboard. But the mute and volume function doesn't work. I also tried to fix it with a new upload of the "ESP32 Sketch

[2021-01-02 09:06] DustinWatts commented on #23
Thanks for posting your wificonfig.json. The problem in that file is that the `„` should be regular double quotes `"`. That should take care of the WiFi issue.

As to the BT issue. I have a feeling that it has something to do with your MacBook / MacOS version as you say on your phone it is working. A few things to check are:

- Does your MacBook support BLE? (Go to the **"About this Mac"**, click

[2021-01-02 09:10] DustinWatts commented on #22
Thanks for that @charliejgallo. In the next update I will include a few lines that checks the size of the display and then decides where to put the latching dot. I will also do the same for the size of the any text that is displayed on the screen so that it fits!

[2021-01-02 12:04] DustinWatts commented on #22
I resolved this in https://github.com/DustinWatts/FreeTouchDeck/commit/8b1e782ab99d6dabfde170a4ac81ebcca9947a5d If this works for you, you may close the issue ;)

[2021-01-02 15:00] charliejgallo commented on #22
0.9.7 works great!!!! (just had to update the esp32-ble-keyboard for the version number update)

[2021-01-02 15:00] #22 closed

[2021-01-02 16:59] charliejgallo opened #24 "KEY_MEDIA_NEXT_TRACK and KEY_MEDIA_PREVIOUS_TRACK not listed in index.htm"
KEY_MEDIA_NEXT_TRACK and KEY_MEDIA_PREVIOUS_TRACK key values are present in Action.h but missing in the list of media keys in index.htm

[2021-01-02 17:56] DustinWatts commented on #24
Well spotted! Thanks for reporting. I missed those. Assigned and will add them in the next release. In the mean time, you could add them yourself if you can't wait ;)

After:
[code]
Add:
[code]

Don't forget the `,`!

[2021-01-15 17:17] gufpewga opened #26 "extended audio functionality"
Hi,
I really like this project. And wa thinking if it was posible to add some funcionality like on GOXLR to control audio. I mean that if you for example swipe left on main screen it takes you to diferent layout that will have sliders with different audio sources. It is just idea, don't know if it is doable. But would be cool to have 2 in 1 that doesnt take too much space on desk.

[2021-01-15 17:32] DustinWatts commented on #26
Hi @gufpewga ! Unfortunately not all touch controller support gestures natively. That would mean some sort of software "hack" to make that possible. For now this is beyond the scope of FreeTouchDeck. But I agree that this would be a great feature!

[2021-01-29 20:16] souldessin opened #28 "White screen on boot"
Hello, I would first like to thank you for making this project. I ordered all of the recommended items, including the board from PCBway.

My issue is with the FreeTouchDeck showing a white screen on boot. I followed everything and tried double checking my setup for the Arduino IDE on Windows 10. There are no errors on compiling and the only sign that some of the sketch has uploaded, is that the sc

[2021-01-30 10:01] DustinWatts commented on #28
Hi @souldessin Can you post the user_setup.h file from the TFT_eSPI library?

That is where the pins are defined that are used by the screen. Maybe that is where it has gone wrong?

[2021-01-31 02:36] souldessin commented on #28
Alright, I retired everything on a linux computer AND this time I used the example User_Setup.h file. Everything worked perfectly.

I think that your assumption was correct with the file.

Thanks again for the great project.

[2021-01-31 02:36] #28 closed

[2021-01-31 07:27] DustinWatts commented on #28
@souldessin No problem! Glad it worked out in the end. Have fun!

[2021-02-08 11:26] Syndlex commented on #13
@CeJienAJPC
Hmm I really like the Idea of Home Assistant integration on TouchDeck but there are already Projekt that are Implementing this and are Home Assistant centered.
For example: https://esphome.io/components/binary_sensor/nextion.html

I thing a better way would be to keep the focus of FreeTouchDeck in the core functionality and extensibility of the project.
This would free up resources her

[2021-02-09 08:19] gufpewga opened #30 "Battery powered???"
Hi,
I really enjoy this project, but would like to use it with battery power.
I saw you wrote that you can monitor battery level in this issue #8.
Is it working, and which pin is used for battery monitoring?
And not that important, but will it show percentage in Windows?

[2021-02-09 12:54] DustinWatts commented on #30
Hi @gufpewga Battery monitoring is not supported out of the box. But there are a few people who have made battery powered FTD's with external charge modules. There are enough analog inputs available so you could use any the pins not used by FreeTouchDeck and use a voltage divider to sense the voltage.

So yes, it can definitely be battery powered. The blekeyboad library has a option for sending ba

[2021-02-13 13:01] briight commented on #26
im already have a physical volume controller and im looking at intregrating it into/on my freetouchdeck   just waiting for parts

this is the one i am using atm https://github.com/omriharel/deej

[2021-02-13 13:02] briight commented on #26
i have posted some pics on the discord  look up briight

[2021-02-14 00:34] Zathras42 opened #31 "DEL key not defined"
Delete key is not defined.  Please add.

In action.h under _case 2: // Send TAB ARROW etc_
    case 10:
      bleKeyboard.write(KEY_DELETE);
      break;

In index.htm under _name: 'Arrows and TAB',_
   {
      name: 'Delete',
      value: '10'
   }

[2021-02-14 07:35] DustinWatts commented on #31
Thanks! I forgot that while creating the keys :)

[2021-02-14 16:58] dmalmas opened #32 "Windows system shortcuts"
Hi there!

I'm considering building this project.
Is it possible to assign any combination of key like, for instance, Ctrl+Win+Left/Right Arrow to move between Virtual Desktop (Win10) ?

thanx!

[2021-02-15 08:07] DustinWatts commented on #32
Hi @dmalmas Yes it is!

[2021-02-15 20:37] romix123 commented on #13
I was thinking of expanding the code to allow for mqtt messages to be sent. Should not be hard to implement. Action 11 is available. Duplicating the wifi struct for mqtt server and adding config action field for mqtt messages. Once an mqtt message is set/reset, a counter should be updated allowing the device to determine whether connection to the broker needs to be established on boot.
I can’t see

[2021-02-15 21:32] DustinWatts commented on #13
@romix123 One of the issues is that a combination of the TFT library, BLE, WiFi and the MQTT pubsubclient takes up a lot of resources. So a combination of all these functionalities is quite a challenge. My response to the HA request was that I have a version given to a few people on my discord to test. But if you'd like to help and get a stable version with MQTT, I'm up for it!

[2021-02-16 07:01] romix123 commented on #13
I will give it a shot. Browsing through the code, it feels like there is room for code optimisation as well.

Best,
Ronald Leenes

Verstuurd vanaf mijn iPad

[2021-02-16 07:46] DustinWatts commented on #13
@romix123 I totally agree with there being room for code optimization!

Groet,
Dustin

[2021-02-18 14:37] Rowdydangerous opened #34 "Pcb"
Where is a copy of the pcb file? I couldn't find it on pcbway or here on github.

[2021-02-18 14:38] Rowdydangerous commented on #30
@gufpewga is this a closed issue now?

[2021-02-18 16:39] DustinWatts commented on #34
https://github.com/DustinWatts/ESP32_TFT_Combiner

Good issue, I should have put a link in the repository itself, I only did that on Instructables, Hackaday etc, but not here.

[2021-02-18 16:39] #34 closed

[2021-02-18 16:45] DustinWatts commented on #30
No not quite. Battery powerable = definitely yes! Sending battery level through bleKeyboard = untested.

[2021-02-18 20:45] gufpewga commented on #30
Srry for my late reply. I have it kinda working. It works sometime and sometime dont :D
I used 18650CL libary for checking battery level and then it gets updated if it changes.
![image](https://user-images.githubusercontent.com/18383586/108419209-87f76200-7232-11eb-90e3-6311c2dd05c8.png)

[2021-02-18 21:09] DustinWatts commented on #30
@gufpewga That is great! Can you share the code who you did it? If this can be tweaked to work most of the time, I'd like to add it to a future release!

[2021-02-18 23:26] Rowdydangerous commented on #34
Thank you

[2021-02-21 21:22] PeterEIER opened #35 "Question: Fusion360 case"
Hi Dustin, it seems to me that the Fusion360 design is missing the back/stand of FreeTouchDeck case. When I import the f3z file in to Fusion360 I get 2 drawing, the front of the case and dummy ILI9488 TFT screen.

My question is this... would it be possible to also share the back/stand?

Thx.

[2021-02-22 12:36] DustinWatts commented on #35
Hi Peter! The FreeTouchDeck Fusion360 file contains both the front and the back, each is in it's own component.
<img width="310" alt="Screen Shot 2021-02-22 at 13 33 21" src="https://user-images.githubusercontent.com/18088135/108709215-b1560d80-7512-11eb-834b-a59bc23f3bcf.png">

You can show/hide the ones you want by using the little eye to the left of each component.

[2021-02-22 15:21] DustinWatts commented on #31
https://github.com/DustinWatts/FreeTouchDeck/commit/1172fc323741a97b7452c1c4ed75422893d5e877 aka version 0.9.10 Fixes this!

[2021-02-22 15:21] #31 closed

[2021-02-22 15:22] DustinWatts commented on #24
https://github.com/DustinWatts/FreeTouchDeck/commit/1172fc323741a97b7452c1c4ed75422893d5e877 aka version 0.9.10 fixes this!

[2021-02-22 15:22] #24 closed

[2021-02-22 16:53] PeterEIER commented on #35
ouch, my wrong... you are completely right... sorry for bothering you!

FYI - I will make some changes to the original case to have 2 FreeTouchDecks in just 1 case ;-)

Thx, great project!

[2021-02-22 20:25] DustinWatts commented on #35
@PeterEIER No problem, you are welcome! Looking forward to see your MultiTouchDeck! ;)

[2021-02-22 20:25] #35 closed

[2021-02-23 16:40] #32 closed

[2021-03-01 14:19] StevenCellist opened #36 "Numpad support"
Hey Dustin,
It would be great if Numpad support could be added!
OBS for example has the possibility to distinguish between a normal `1` and `NUMPAD-1`.
Adding Numpad keys would reduce the pain of Windows being picky about F13+ :)

[2021-03-01 16:54] DustinWatts commented on #36
@StevenCellist Great idea! This would require some investigation.

[2021-03-04 10:17] briight opened #37 "obs out of focus commands"
just did some testing and looks like  keypresses must have a 100ms delay added after your key for obs to pick it up

maybe something put into the readme about this

or maybe adding 100ms delay to FTD wide  but i only see this as an option if its only obs that has the problem
![image](https://user-images.githubusercontent.com/35737998/109949008-c8df8400-7cd2-11eb-9bc6-76a79a1d09e9.png)

[2021-03-04 15:15] DustinWatts commented on #37
Great to hear that that works for you @briight. I though I already tried this and it didn't work for me. If this is the solution I'm happy that no other app is needed to get OBS in to focus!. I'll keep this issue open so other people who struggle with this can find it quicker!

[2021-03-06 16:39] briight commented on #37
also found that if i have a hotkey of    f13     and i try a combo   like  shift + f13    it will trigger both hotkeys,
so to get more hotkeys  use  alt + f13 , shift + f13 , ctrl + f13  and they will all work independly of eachother
![image](https://user-images.githubusercontent.com/35737998/110214018-8b2d5780-7e9a-11eb-83bb-cfbfa18cad62.png)

[2021-03-14 12:23] rienboonstoppel opened #38 "Missing keys"
Hi, I really enjoy the touchdeck.
However, I am missing some keys to map to in the configurator.
It seems like the , (comma), . (point) and the - (minus) is missing. Is it possible to add those?
For now, I took the long route via a AHK script and extended Function keys, but it would be great to have those inside the configurator.
I use it to improve my Lightroom workflow :)

Thanks in advance.

[2021-03-14 14:57] DustinWatts commented on #38
Hi @rienboonstoppel Absolutely! I've marked this issue so I don't forget! :)

[2021-03-15 17:45] briight commented on #38
also a fkey missing and one miss labled

[2021-03-15 17:57] DustinWatts commented on #38
@briight and @rienboonstoppel both are fixed in version 0.9.11 https://github.com/DustinWatts/FreeTouchDeck/commit/0f8782ed4176e20e47ef9934b29f748d2912b787

@rienboonstoppel If you are happy, you may close this issue :)

[2021-03-15 17:59] #38 closed

[2021-03-15 20:22] DustinWatts opened #39 "DeserializationError on large menu configs."
The DynamicJsonDocument size for menu configurations is 1200. Which is not enough for large configurations and will give an error: `[ERROR]: deserializeJson() error`,`NoMermory`.

Increasing it is the solution.

[2021-03-17 07:14] DustinWatts opened #40 "Set the BLE name through configurator"
The idea is that if you have multiple FreeTouchDecks you can set a BLE name in the configurator, to keep them apart.

For now the only possibility for setting the device name for BLE is during compiling.  It would require some changes to the BLE Keyboard library, but I think this is possible.

[2021-03-21 14:09] schneika opened #41 "ILI9488 - MSP3520 with Touch not working?"
I have ordered the TFT with Touch from AliExpress. Version MSP3520. The TFT Display shows the Icons, but the Touch is not working. I dont know what Touch-Chip is the MSP3520 Version...

[2021-03-21 14:21] DustinWatts commented on #41
@schneika Is the chip the XPT2046? The screen also come without touch, so you have to make sure they have the film on top with a silver boarder. Also U2 (the chip) should be populated.

The first time FTD boots, it does a calibration. If that fails or does not calibrate o.k. and touch doesn't work, you can open the serial monitor (assuming you used the Arduino IDE), set the baud rate to 9600, and

[2021-03-21 15:24] schneika commented on #41
Yes, the Chip is the XPT2046.
And thanks for your help.: After recalibration as suggested from you (via Serial Monitor - cal reset) - the Touch-Controller is working as expected. Fantastic work!

[2021-03-21 15:55] DustinWatts commented on #41
@schneika Good to hear! :D

[2021-03-21 15:55] #41 closed

[2021-03-24 02:44] jptrsn commented on #40
The default could also include the chip ID as an identifier. For example, `FreeTouchDeck-A74DE8`

[2021-03-24 08:05] DustinWatts commented on #40
@jptrsn That is a good idea!

[2021-03-24 22:52] gadjet opened #42 "ConfigLoad.h:20:3: error: 'DynamicJsonDocument' was not declared in this scope"
Hi,
I followed the instructions in the vide, installed all the libraries but when I compile I get the error
"ConfigLoad.h:20:3: error: 'DynamicJsonDocument' was not declared in this scope"
I'm using Arduino IDE 1.8.42.0
I have ArduinoJson 6.17.3 installed.
Anybody know what may be causing this, I do have quite a few erros after this but not sure if they are a result of this error.

Thanks

[2021-03-25 11:29] DustinWatts commented on #42
Hi @gadjet Can you try and compile the `StringExample` example of the ArduinoJson library? This is a good indicator whether the library is correctly installed for your board. Also which board did you compile for?

[2021-03-25 13:01] gadjet commented on #42
HI, String example compiles OK and I have "ESP32-WROOM-32D" from Aliexpress and selected "ESP32 Dev Kit" in the board manager.

[2021-03-25 14:49] DustinWatts commented on #42
I just tried it (ArduinoJson 6.17.3 and ArduinoIDE 1.8.13 (MacOS)) and it compiles fine for me. Did you already try and re-download the latest version of FreeTouchDeck? Could you post the complete output log, maybe there is a clue in there?

[2021-03-25 15:00] seamus65 opened #43 "'File' was not declared in this scope"
I am attempting to compile version number 0.9.11 and i am getting the errors:

ScreenHelper.h:244:23: error: 'File' was not declared in this scope

ScreenHelper.h:244:29: error: 'p_file' was not declared in this scope

ScreenHelper.h:244:37: error: expected primary-expression before 'int'

ScreenHelper.h:244:56: error: expected primary-expression before 'nBytes'

ScreenHelper.h:244:62: error: expr

[2021-03-25 15:39] #43 closed

[2021-03-25 15:41] seamus65 commented on #43
I think I had doubled up on include libraries, sorry.

[2021-03-25 16:14] gadjet commented on #42
Thanks, I'll give it a go later and let you know what happens.

On Thu, 25 Mar 2021, 14:49 Dustin Watts, ***@***.***> wrote:

[2021-03-25 16:36] DustinWatts commented on #43
No problem :)

[2021-03-25 21:28] DustinWatts opened #44 "F13-F24 Keys require a change in BleKeyboard.cpp"
To solve the issue that F13-F24 do not work (properly) in FreeTouchDeck, change a few lines in BleKeyboard.cpp could be the solution:

Changing
line 55 `LOGICAL_MAXIMUM(1), 0x65,` to `LOGICAL_MAXIMUM(1), 0x73,`
and
line 58 `USAGE_MAXIMUM(1),   0x65,` to `LOGICAL_MAXIMUM(1), 0x73,`

See also: https://github.com/DustinWatts/ESP32-BLE-Keyboard/pull/1

This is confirmed on multiple builds to be the so

[2021-03-27 00:34] 2Gapps commented on #43
Hello @seamus65,

I have a similar error message. Can you please tell me how did you solve this error?

[2021-03-27 06:04] DustinWatts commented on #43
@2Gapps If you post the exact error messages you are getting that might help. Or just insert the Arduino log here using "Insert code" ( looks like this < >).

[2021-03-27 06:04] seamus65 commented on #43
Hello @2Gapps,

I had included the libraries a second time by accident, so I removed the duplicates and that removed the error.
It is also worth checking you have the correct lines uncommented in the TFT_eSPI library user_setup.h file and comment out the lines not required.

[2021-03-27 14:23] 2Gapps commented on #43
Thank you @seamus65 and  @DustinWatts  for your quick response.  This is the error message that I am getting.

--------------------------------------
--- Error Message
--------------------------------------
Arduino: 1.8.13 (Windows 10), Board: "ESP32 Dev Module, Disabled, No OTA (2MB APP/2MB SPIFFS), 240MHz (WiFi/BT), QIO, 80MHz, 4MB (32Mb), 921600, None"

In file included from C:\Program Files (x

[2021-03-27 18:22] 2Gapps commented on #43
I have found the error.  Possibly an error on my part when reviewing the content of the .h documents.

I read this article https://forum.arduino.cc/index.php?topic=526770.0, unzip the project again and everything works correctly.

Thanks.

[2021-03-27 20:39] DustinWatts commented on #43
@2Gapps Good to hear! :)

[2021-03-28 06:47] DustinWatts opened #45 "Missing keys (If you find them, report them here)"
A list so far:

- ESC
- PrtScn
- Home
- End

[2021-03-29 20:08] gadjet commented on #42
Right I think I found the problem, there wwere two installed libraries for ArduinoJson and it was trying to use an earlier one, I deleted the older library and it has compiled.

Thanks for the help

[2021-03-29 20:08] #42 closed

[2021-03-29 22:40] gadjet opened #46 "Freetouchdeck doesn't connect to my WiFi network"
Having got it working I can go into the WiFi settings and connect direct to the Freetouchdeck with my phone but even after setting my wifi details and password it doesn't seem to want to connect to my WiFi network so that I can access the setup from my main PC.
I do have other IOT devices that are connected and accessible to my wifi though so not sure what's going on.

[2021-03-29 22:45] briight commented on #46
Ssid the exactly the same.  Caps And all ?

[2021-03-29 22:47] briight commented on #46
Try setting up a hotspot on your phone and see if u it will connect to that

[2021-03-30 05:38] DustinWatts commented on #46
@ gadjet What version are you running? The latest version automatically switches to AP mode when it can't connect to an AP. After that you can connect to it directly and increase the number of attempts and delay between attempts to connect to an AP.

[2021-03-30 07:40] gadjet commented on #46
Yep, checked multiple times :-)

[2021-03-30 07:40] gadjet commented on #46
Worth a try good idea

[2021-03-30 07:42] gadjet commented on #46
It's the latest as far as I can see, I can connect to it directly when it is in AP mode, I'll increase the time between retries and see if it helps.

[2021-03-30 18:39] gadjet commented on #46
OK, I changed the connection retry from 500ms to 2 seconds and it connects now.

[2021-03-30 18:39] #46 closed

[2021-03-30 21:36] gadjet commented on #46
I think that would be a good idea :-)

[2021-03-31 08:36] gadjet opened #47 "Allow main menu to trigger applications"
I've got it all up and running now, thanks for a great project.

Is it possible for the home menu to trigger some actions as well as going to a sub menu?

My scenario is that I want to start Fusion360 by pressing a button on the home (I've assigned CTRL+ALT+f to the shortcut) then the sub menu for Fusion actions will appear where I will have buttons to do basic CAD actions.

Also it would be usefu

[2021-03-31 08:46] DustinWatts commented on #47
Hi @gadjet That is a good idea. I'll have to think about a good way to implements this in the configurator. But you can do this yourself for now in the code. At this line https://github.com/DustinWatts/FreeTouchDeck/blob/5c46b69fc5a63dbbbeb122133aec389d7aa6c7f0/FreeTouchDeck.ino#L1032
the home menu buttons are handled. You could add some code that sends key presses.

The bigger matrix is a much re

[2021-03-31 12:21] gadjet commented on #47
Great, I'll give that a try in the code.
No hurry for the other request :-)

[2021-03-31 18:25] gadjet commented on #47
@DustinWatts Your work around works a treat, thanks, noe to make some button logos :-)

[2021-04-08 14:01] seamus65 opened #50 "flash read err, 1000"
I purchased the ESP32 + TFT Combiner V1 from PCBWay and soldered the ESP32 and the TFT on, but now I am getting the below error through serial and the screen never boots up.

I tested using a breadboard and jumper wires before soldering to the PCB and everything worked great.

rst:0x10 (RTCWDT_RTC_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
flash read err, 1000
ets_main.c 371

[2021-04-08 14:49] DustinWatts commented on #50
Hi @seamus65, a few things you can do:

- Try a different power supply
- Make sure there are no solder shorts on the PCB.
- Do you have any other things connected to the ESP32 pins? Try it without.

Since the error did not show up after you soldered the ESP32 and TFT to the board, my guess is on a solder bridge. Pay special attention to pin 0,2,5, and 12. Just to be sure you may want to reflow tho

[2021-04-08 16:41] seamus65 commented on #50
Is it normal to not be able to flash with the ESP32 attached to the PCB?

I tried a second ESP32 and inserted it into another PCB, not soldered only inserted, and it wouldn't flash, but when I removed it from the PCB it flashed no problem.

[2021-04-08 18:03] DustinWatts commented on #50
No that is not normal. What ESP32 are you using? I might have happened that there were manufacture errors on the board. Maybe you can join me on Discord so we can find out what is going wrong? https://discord.gg/RE3XevS

[2021-04-30 21:29] sle118 opened #51 "Flexible configuration"
This is just a comment. @DustinWatts and the other contributors to this project. Feel free to close it.

I wanted to thank you for taking the time to build this. It was exactly what I was looking for!

I took the time to port the code to the TTGO T-Watch 2020 v1 which I happen to own. This wasn't a huge effort; the watch has the same capacitive touch controller that the project uses. A couple of n

[2021-05-01 04:23] kicker22004 commented on #37
Found that I couldn't set a scene hotkey to (Shift+/) and it turns out I couldn't detect any shift to OBS. I'm thinking because OBS doesn't show left or right.. Ideas?

[2021-05-05 05:30] DustinWatts commented on #51
@sle118 Sorry for the late response. I was very busy with selling ESP32 TouchDowns this week ;)

But this is amazing! Number 1 on my priorities list was refactoring the code in a way that it would allow for more actions. I know this is a much requested feature. So in answer to your question, i definitely like to see that! There is a branch called development. Which my idea was to try out all these

[2021-05-05 05:33] DustinWatts commented on #37
@kicker22004 This is something I have not experienced but I can see if I can try and replicate that. Can you tell me if your computer does catch that macro? With some thing like a keyboard viewer? `SHIFT+/` is actually `?`so maybe OBS registers it as 'SHIFT+/` but bleKeyboard is actually sending a `?`. I don't know, just a wild guess...

[2021-05-08 19:25] Lucero-delcielo commented on #6
Is there a way for a button to type a string of characters, say a web address, rather than just a few keys?  I'm wondering if there is a way to write this directly into the code because I don't see how to do it in the configurator. Thanks!

[2021-05-11 15:35] sle118 commented on #51
ok. Noted. I did quite a bit of refactoring to the code so it might take you a bit of time to adjust to the new reality ;)

I'm still in the very early stage and I just reached a clean compile with a ton of "//todo: "  in the code to implement the features I had to butcher in order to start doing some surface testing.

[2021-05-11 15:59] DustinWatts commented on #51
If you have anything to share let me know! Looking forward to it :)

[2021-05-11 16:54] sle118 commented on #51
I will start by reaching a minimum level of stability (e.g no crash/boot loop) and some basic navigation before sharing.  But here's a glimpse of the FTAction class and how it leverages arrays to reduce code redundancy.

Definitions:
[code]

and the embryo of the execute method

[code]

I have implemented a std::queue which receives actions. For example, pressing a button will result in a new acti

[2021-05-11 17:06] DustinWatts commented on #51
So far that is looking great!

[2021-05-12 01:53] coryb commented on #51
I missed this issue, seems like we are working on similar problems.  I just created PR #52 that makes the menus sizing configurable, not sure how incompatible this change will be with the work you are doing.  I didnt touch much of the action logic, so maybe we can use the work you have done there?  Or if your code is in a good state we can cancel my PR and go with your work?

[2021-05-12 10:23] daedalas1981 opened #53 "Button 6 Defaults to home.bmp"
Button 6 changes successfully, but upon reloading the menu, or restarting, the json is not being updated with the new icon.

[2021-05-12 10:25] daedalas1981 opened #54 "General.json"
If you use the Upload Menu Config to upload general.json, you get an error that you can't upload it.

[2021-05-12 11:04] DustinWatts commented on #54
Ah, I see! This is because checks if the filename that is uploaded is one that is used in the config. Since 0.9.11 the config filesnames have changed a bit but I forgot to change the allowed filenames in `Webserver.h`. The same would happen if you try to upload wificonfig.json. Quick fix:

`line 223 Webserver.h` should be:
[code]

[2021-05-12 11:05] DustinWatts commented on #53
`home.bmp` is hard coded. There is no reason this should be like it is. A way around this is uploading the home icon you want as home.bmp, this will overwrite the original `home.bmp`.

[2021-05-12 13:36] sle118 commented on #51
Well, this is annoying; it looks like the Arduino flavor of the esp-idf is stuck in the past and it's missing several of the newer c++ std features. For instance, there's no std::unique_ptr to reduce the memory footprint of vectors, lists, queues, etc.  I'll see how I can work around that, given that Arduino has a broader reach with tinkerers.

[2021-05-12 15:29] Lucero-delcielo opened #55 "Touch screen malfunctioning cal reset does not work."
I have been using my FTD for a few days now, and it has been working great, but today I tried to use it and the touch screen would work a little but seemed to be making its own touches. I ran cal reset a couple times, but it seemed to just touch each corner on its own without me touching it at all. I am at a loss. Thoughts?

[2021-05-12 16:04] DustinWatts commented on #55
Hi @Lucero-delcielo, my first guess is a bad connection to the touch controller. Are you using a breadboard? Or the combiner PCB? Or a prototype board? Anyway, I would check the T_DO, T_CS, and T_CLK for a bad connection or a short. Maybe even reflow the pins if you are using the combiner board or a prototype board.

[2021-05-12 16:08] DustinWatts commented on #51
Maybe we can keep that PR open and integrate it to what @sle118 is working on?

@sle118 That is annoying, off course for a pre-build binary this wouldn't matter. But I like to keep the whole source accessible for everyone to tinker with as you stated.

I Appreciate both your work!

[2021-05-12 21:01] daedalas1981 commented on #53
I had setup macros for a chrome web browser. Changed my icons. But I came across the issue where I was using the home.bmp for the shortcut to the homepage (Also had to make custom hotkeys since there was no Home keymap). Using the webserver, I used the drop down for the Button 6, and used a back arrow to replace the home.bmp for Button 6. That's when I noticed it was hard coded, and would revert b

[2021-05-12 21:04] daedalas1981 commented on #54
Awesome, thanks! Updated code, will try later!

[2021-05-12 23:46] sle118 commented on #51
It is a rather complete refactoring of the effort and unlikely to be compatible with existing pull requests.  I will most likely push the changes to my own repo (I forked this repo) so everyone can have a look.

[2021-05-12 23:56] coryb commented on #51
I will try out your fork when you get it pushed to see how it compares to mine, having just gone through all this I am at least pretty familiar with the codebase now :) So maybe I can help out.

[2021-05-13 03:08] sle118 commented on #51
I'm using a TTGO T-Watch for testing and I have basic navigation, pressing/releasing, and latch working albeit still with some glitches with transparency, which I am just starting to analyse in the original code base. Next I'm going to implement the configuration menu, for which actions are already implemented.

I have ordered the following, which is going to be easier to debug using JTAG than the

[2021-05-13 12:44] danielhunt commented on #51
As it happens I have also been working on making the menu system more flexible having just received my device in the post yesterday.

My own version is very similar to what @coryb has come up with - but as I am not a true C++ dev it's far less neat.

I might be interested in helping out on the frontend side of things once you have all settled on a valid codebase to run with.
Right now, #52 looks l

[2021-05-13 14:46] sle118 commented on #51
This is getting real funny!

[2021-05-14 02:02] sle118 commented on #51
allright. I made good progress tonight and had navigation up and running. I have pushed whatever I have so far here
https://github.com/sle118/FreeTouchDeck

Note:  I'm using VSCode with the Arduino extension, rather than the "pure" Arduino IDE.
Also Note: This WILL crash on you;  after getting navigation right, I decided to start making some performance improvements. The first move was to cache lo

[2021-05-14 11:46] danielhunt opened #56 "Different version in master, compared to that on the hardware"
Version `0.9.11` is in `master` at the moment, but version `0.9.12` shipped on the devices in batch 2 of the Tindie run.
Was there much changed between those versions? (It might be worth using Github tags to keep track of the versions as you create them)

@DustinWatts can you push the `0.9.12` code to github so we can see if anything important needs to be included in things like #51 or #52 please?

[2021-05-14 12:01] danielhunt commented on #51
That Pr is so far beyond my abilities to understand 😢  :D

[2021-05-14 12:17] DustinWatts commented on #56
Hi @danielhunt Nothing has changed since 0.9.11, when I made the binary that I used to flash the ESP32 TouchDown, I accidentally set the version number to 0.9.12 but that should be version 0.9.11.

The only thing different is that `USECAPTOUCH` and `speakerPin` are defined.

Hope this explains the difference in version numbers. Feel free to reopen if not.

[2021-05-14 12:17] #56 closed

[2021-05-14 12:35] DustinWatts commented on #51
No thank you! :) This is a massive change and it looks great so far! I have to take some time going through it but this weekend I hope to have some time and will try it out (accepting crashes ;) ). But I like where you are going.

[2021-05-14 13:38] sle118 commented on #51
right now it does crash on start because of my last minute change, leveraging PSRAM if present.  I'll try to remediate so you have a somewhat better experience. I am not sure if it will compile on the Arduino IDE, but I think it should, given that VSCode calls it in the backend when building.... it's super super slow compared to native ESP-IDF v4.0, which leverages cMake + Ninja to speed up the bu

[2021-05-14 13:39] sle118 commented on #51
Don't read with the old code in mind; read it as if you were trying to understand another piece of code.

[2021-05-14 21:29] sle118 commented on #51
One more note here. I think I have found out the door cause of the crashes. I will have to overwrite the new operator to allocate memory in psram.

Can anyone confirm that the original hardware has a wrover or psram chip on board?

[2021-05-18 00:57] sle118 commented on #51
Update: I just pushed some commits which restore basic navigation. It is no longer crashing! Note that I lost border drawing around buttons and latch mode too. This shouldn't be a major thing to resolve.

[2021-05-18 06:38] DustinWatts commented on #51
This is going amazing @sle118 ! Can you DM me your contact details? `dustin_watts@yahoo.com` I can arrange a ESP32 TouchDown for you so you have the exact hardware.

[2021-05-18 18:31] danielhunt opened #59 "Touchscreen calibration not working"
@DustinWatts do you happen to have the values for the calibration array handy?
While uploading new contents for the `data` directory (while iterating on #57) I seem to have accidentally wiped the existing config 😢

If you have them handy I can just overwrite the existing values 👍

[2021-05-18 18:34] danielhunt commented on #59
I forgot to add: While rebooting the device prompts for me to calibrate the screen, but it doesn't recognise, respond to, or store any boundary information, so touch doesn't work after boot is complete

[2021-05-18 18:47] DustinWatts commented on #59
I do not have that data ready for you as that is completely done by code and always lives in the SPIFFS. But you can re-calibrate whenever you want by typing `cal reset` (technically cal<space> is enough) in the serial monitor (No Line Ending). This will erase the calibration file, reboot, and start the calibration over again.

Just realized, are you using the ESP32 TouchDown? If so, you do not ne

[2021-05-18 19:12] DustinWatts commented on #59
No problem, I though I remembered you were using the ESP32 TouchDown :)

[2021-05-18 20:13] danielhunt commented on #51
@sle118 while building this I get the following error:
[code]

I presume I need to have another library or something for this to work?

[2021-05-18 20:22] danielhunt opened #60 "Wifi on by default - Control of local Shelly devices"
@DustinWatts one of the use cases of my ESP32 TouchDown will be to control a few Shelly devices in my home - these are all controlled over wifi using a simple HTTP API.

To do this I will be changing FreeTouchDeck in ways you may not like to see it go (for example: Wifi on by default, wifi on at all times, Major UI modifications to allow for colour-selection for some RGB lights, ...etc)

Would you

[2021-05-18 20:51] DustinWatts commented on #60
I think if that works it would be great to see. The reason I have BT stopped and WiFi started when entering the configurator is that is was taking up too many resources and didn't play nice. But with the modified code from #51 this might be handled better without crashes.

[2021-05-18 21:12] danielhunt commented on #60
Ah - excellent! Well I already have a version working that connects to Wifi on demand and triggers a set of Rest HTTP calls to some of my Shelly devices.
So I'm happy that it's **possible** at least 😄

I'll close this issue so, and create PRs in the future when it starts taking shape 👍

[2021-05-18 21:12] #60 closed

[2021-05-18 21:47] danielhunt commented on #40
It looks like the device name can be updated before `bleKeyboard.begin()` is called [at setup](https://github.com/DustinWatts/FreeTouchDeck/blob/master/FreeTouchDeck.ino#L545)
[code]

[2021-05-18 23:37] sle118 commented on #51
@danielhunt I will pay some more changes today. Some minor changes were done, but now a "back button" action is possible. Useful for multi level menus!

[2021-05-19 07:43] DustinWatts commented on #51
@sle118

Got a few warnings (mostly unused variable, so no big deal). But did get an error. Line 284 of FTAction.cpp:

[code]
will always evaluate as true. So, just removing the `if` statement and it compiles. Next step is to actually upload to see it in action :)

[2021-05-19 10:59] sle118 commented on #51
Which Arduino environment are you "officially using"? I'll make sure I compile it there first before committing anything. I've been using vscode with the Arduino extension because it is far better than the basic Arduino IDE and because I'm used to it, but I read that the beta Arduino environment is an improvement over the old one

[2021-05-19 11:10] DustinWatts commented on #51
Offially I use the basic Arduino IDE 1.8.13. But I regularly switch between that and VS code myself too. I make sure it compiles in the basic Arduino IDE because that is what most users use. I also so set compiler warnings to "All". Just in case someone has this set. It then halts on things like not returning anything in a boolean function.

[2021-05-19 15:16] TheAlgorythm commented on #45
I would need ESC and custom text to interact with vim.

[2021-05-19 17:18] DustinWatts commented on #45
Can you explain a bit more about the custom text?

[2021-05-19 17:20] sle118 commented on #51
Later today, I'll add a formal back button icon (from the material design, white on black 75x75). The menu navigation now keeps a reference to the previous menu when navigating down menus. All screens/menus with user buttons will now have this back button instead.  For screens without buttons (e.g. the information display), a screen level action of "back" is added. This means when user presses suc

[2021-05-19 17:40] TheAlgorythm commented on #45
Well, would it be possible to print some characters (like the length of a word) out. e.g. ":Buffer" or any other command. Another use-case for me (and maybe for others also?) would be to type common or hard to reach code out (like `\begin` in `LaTeX`).

[2021-05-19 20:41] danielhunt commented on #51
FYI I know you're still actively working on this but I get stuck in a bootloop when I upload this latest version.

During boot I see:
[code]

[2021-05-20 00:36] sle118 commented on #51
@danielhunt For now, you can try to change the core debug level (logging) to debug.  I stumbled on the same issue when I compiled with logs at level info and found the root cause.  It'll be fixed on my next push.

[2021-05-20 00:40] sle118 commented on #51
I pushed the WIP for today. Note that 2 new images were added (back button, etc). Please flash the data partition before trying.

[2021-05-20 04:52] DustinWatts commented on #45
Yes that is possible. But it is not possible in the configurator. You would have to hard code that in FreeTouchDeck.ino. This is a future feature because indeed other people also would like this.

[2021-05-20 07:11] DustinWatts commented on #45
https://github.com/DustinWatts/FreeTouchDeck/commit/faa9d31d738b3f14bbc285f9732b96536a5d19ab adds ESC, HOME, END, PrintSreen.

[2021-05-20 07:13] #44 closed

[2021-05-20 07:14] DustinWatts commented on #54
https://github.com/DustinWatts/FreeTouchDeck/commit/faa9d31d738b3f14bbc285f9732b96536a5d19ab Fixes this.

[2021-05-20 07:14] #54 closed

[2021-05-20 07:14] DustinWatts commented on #39
https://github.com/DustinWatts/FreeTouchDeck/commit/faa9d31d738b3f14bbc285f9732b96536a5d19ab increased the size of the DynamicJsonDocument to 1500.

[2021-05-20 07:14] #39 closed

[2021-05-20 07:16] DustinWatts commented on #36
https://github.com/DustinWatts/FreeTouchDeck/commit/faa9d31d738b3f14bbc285f9732b96536a5d19ab adds Numpad support. Make sure to also update https://github.com/DustinWatts/ESP32-BLE-Keyboard !

[2021-05-20 07:16] #36 closed

[2021-05-20 07:55] DustinWatts commented on #51
Some great WIP Sébastien! If I do not set Werror, things compile and run without crashes. For me capacitive touch (the FT6236) doesn't work yet. I haven't really looked it to it yet.

A few things I noticed:

- BLE Keybaord actions are not being sent
- After going to the INFO page and back, the back button draws a blank screen
- Latching on works, but latching off doesn't

But again, great work!

[2021-05-20 10:40] sle118 commented on #51
I haven't reached testing actual actions, since I've been refactoring menu navigation, etc. If actual actions are sent, then it is mostly by luck; I've implemented the logic but not tested it!

[2021-05-20 13:21] DustinWatts commented on #51
Nothing weird on the serial monitor.

The restive touch is a function of the button handling class use by TFT_eSPI, so if you draw a button, a touch area is automatically created. And I do get the calibration screen (TouchCalibrate() is the function). The capacitive touch doesn't need calibration so that is skipped is #USECAPTOUCH is defined.

The board I'm building with is a regular ESP32 Dev Kit

[2021-05-20 15:30] sle118 commented on #51
Ah, I think it might have to do with rotation. I might have removed your map logic by mistake. I'll see if that is the case.  The T-Watch has a 1:1 mapping between the screen and the capacitive touch so I tweaked the code a bit in that area,

[2021-05-20 19:37] danielhunt commented on #51
I'm looking to try using `TJpg_Decoder` to use JPG files instead of BMP ones (the `/data/logo` directory goes from 952k to 108k without looking at additional compression.
This makes a material difference to the data directory size 😱

@sle118 your abstraction of the BMP classes is 👌  but `bmp` as a concept is still littered through the codebase (default images and like)
Would it be worth abstractin

[2021-05-20 21:27] sle118 commented on #51
@danielhunt we might have stack/memory issue decoding JPG unless you have a very efficient decoder ;)

[2021-05-20 21:30] danielhunt commented on #51
This is my first ESP32 experience so I know nothing. At all.

But I *do* know that I need to upload 1.2 megs of data to a 2 meg partition on a 4 meg memory chip ... which isn't great :)

[2021-05-20 23:32] sle118 commented on #51
@danielhunt the biggest concern (AFAIK) would be to find a decoder that can run in a relatively small stack. There's a good chance it will work, but memory is a heck of a constraint here.  I am used to the "luxury" of 4Mb PSRAM that we get with a chip like the Wrover, but the hardware platform that this project support only has 500Kb or so of RAM and it is very limiting.

[2021-05-21 00:04] sle118 commented on #51
@DustinWatts I have hit a memory wall right now and I'm checking to see if there is anything I can do to optimize the code; attempting to start configuration in AP mode fails, likely due to running out of IRAM. When everything is finished loading, there's only 85kb left or so and attempting to load the AP fails miserably.  Is this something you ever encountered?

[2021-05-21 07:12] sle118 commented on #51
I just pushed another change, by the way

[2021-05-21 07:52] danielhunt commented on #51
I switched to verbose logging and my monitor output was **flooded** with content like this. Is this expected? Could it explain your memory issues?
![image](https://user-images.githubusercontent.com/99176/119102398-e2f74b80-ba11-11eb-9c2c-c44ec5b525cf.png)

[2021-05-21 12:28] sle118 commented on #51
@danielhunt this is most likely the action queue thread, which is running in parallel and never ends, so it is expected. When you compile at a certain level, all of entries below that are discarded by the compiler, and verbose is definitely not recommended when actually running the thing.

As for the memory issue, it isn't a leak or something like this; it is just that the memory is low after load

[2021-05-21 13:14] sle118 commented on #51
@danielhunt would you be in for a frontend/backend collaboration to handle the "new generation" configuration?

[2021-05-21 14:24] sle118 commented on #51
I renamed the class ImageWrapper :)

[2021-05-22 12:31] sle118 commented on #51
I am still having an issue when starting the configuration mode with default access point; the asynchronous web server is unable to start and there's nothing simple I can do around that; many of these packages insist on having their own task and there isn't much control in the Arduino to find tune memory usage of the underlying esp-idf.

Note that this could be a side effect of my platform, the TT

[2021-05-22 14:07] DustinWatts commented on #51
This is something I ran in to a lot when starting development. The libraries used, use a lot of RAM. I finally got it to a stage where it runs stable, but a lot of compromises were made. I think some kind of "boot flag" is a good idea if there is no way around it. I hope when you get your ESP32 TouchDown (which is the same WROOM as on a DevKit) you can get some different results!

Btw, deleting th

[2021-05-22 16:28] sle118 commented on #51
With the dedicated reboot mode, the system is now rock solid and there's no need to worry about stopping extra services. The system mode flag is sitting in a memory area that doesn't get initialized on reboot.
```__NOINIT_ATTR```

I also just updated the button background colors. So menu colors and function buttons colors now show up correctly!

[2021-05-22 20:52] sle118 commented on #51
@DustinWatts Have you considered the possibility of a multi-stage power save mode?
- After shorter period of time, enter light sleep and power down or reduce to a minimum the PWM of the  LCD back led
- enter light sleep
- After the existing long period, enter deep sleep

[2021-05-23 02:52] sle118 commented on #51
Ah, and I also ditched the 2 worker threads. There must isn't enough to do to justify the added overhead!

[2021-05-23 07:12] DustinWatts commented on #51
The mediakeys work a bit different from other keys. I have had a play around and I can get it to work, but only if use bleKeyboard.write(KEY_MEDIA_MUTE) for example. Not with the vector you created, so there is something going wrong.

I changed some things in the mapping of the capacitive touch controller and all works for me now! I just have to check if this works consistently over multiple diffe

[2021-05-23 11:15] sle118 commented on #51
The layout strategy now is to fill lines until wrap occurs. I believe the best way to achieve a 4x3 layout, I think, would be to let users set the button size and let the screen overflow automatically

[2021-05-23 14:01] GabinTB commented on #47
Hi @gadjet, can you give details about what you did there to open App from the FreeTouchDeck ?

[2021-05-23 14:37] gadjet commented on #47
No problem, right click on an application icon on your desktop and click properties, in the properties there is a shortcut TAB and on that TAB there is a section for "Shortcut key", click in the box and then use the shortcut you want to assign to it then add this in the code as described by DustinWatts above.

[2021-05-25 21:55] sle118 commented on #51
I pushed some changes.  Here is a summary

- Layout is now calculated from the number of rows/columns specified in the general configuration. This option will have to be implemented in the html configurator.
- The serial console now has a help command
- The serial console now allows changing screen rotation and testing various combinations of touch coordinates manipulations (e.g. reversing x or y

[2021-05-26 00:57] Lucero-delcielo commented on #55
Thank you for the advice Dustin. It seems my soldering was a bit shoddy on those pins. Reflowing them solved the issue. Thanks so much for your help!

[2021-05-26 01:31] Lucero-delcielo commented on #6
For now, I am running Autohotkey scripts, and linking those to my button on the FTD. This works well, but is definitely not how I want to do it permanently. Thanks for the ideas and support, this is a great project!

[2021-05-26 02:32] sle118 commented on #51
Well, I just couldn't resist. I am going to come up with a first iteration of the configurable layout editor. It won't be a big departure from current model, but the UI itself will be generated on the fly based on parameters rather than being static.

[2021-05-26 09:06] DustinWatts commented on #55
Good to hear! :D

[2021-05-26 09:06] #55 closed

[2021-05-26 09:28] DustinWatts commented on #6
AHK is very handy indeed. I use it a lot. Can you tell me what exactly doesn't work? And you are correct I forgot the `;` in my comment. I did notice that there is a `}` missing, try this:

[code]

I can verify that this works. But keep in mind that in the code "button 2", is the third button on your FreeTouchDeck.

[2021-05-26 17:05] DustinWatts commented on #51
I am very impressed! I ha a quick look around and just wanted to see how easy it is to make a layout... and it took me 5 minutes. 3 minutes was spent uploading things. So, Sébastien, this is really great!

[2021-05-26 21:47] sle118 commented on #51
now... here's the output of the json serializer when dumping the menu configuration. You'll notice that the keys are now called by their names ;)
[code]

[2021-05-30 09:43] gjelsoe opened #61 "remove jquery-3.5.1.slim.min.js and use cloudflare version. (save space)"
Would it not be a good idea to use Cloudflare JQuery in index.htm and save 73kb of space ?

It's a simple fix by replacing <script src="jquery-3.5.1.slim.min.js"></script>
with <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>

It will also make it easier to upgrade to newer version without thinking about space usage..

[2021-05-30 16:05] DustinWatts commented on #61
I chose to include the jQuery build in the data folder, because for the configurator to function it would require internet access. If you start the configurator in AP mode or do not want your ESP32 to connect to the internet the configurator would not work.

[2021-05-30 16:05] #61 closed

[2021-05-31 17:43] gjelsoe commented on #40
@danielhunt It's possible as you wrote, did it in my "Fork" and it's configurable in the Configurator.

[2021-05-31 17:45] gjelsoe commented on #13
Take a look openHASP, it runs on Dustins hardware.

[2021-06-02 07:44] danielhunt commented on #51
@sle118 I don't know if you're aware but the touchscreen on the ESP32 Touchdown hasn't functioned using your fork for quite a while. I'm not sure why just yet.

[2021-06-02 11:17] sle118 commented on #51
@danielhunt thank you for reminding me; I didn't write know how to deal with the screen rotation vs the touch coordinates and testing permutations trough code was taking a good deal of time. So I added a console command to align panel coordinates. The touch down requires flipping x and y axis as well as reversing y (if I remember).

I just forgot to set these by default on the touchdown target bui

[2021-06-02 11:20] danielhunt commented on #51
👍

FYI, this is the flipping code I've been using in my hacking (taken from the original `master`)
[code]

[2021-06-02 19:53] DustinWatts commented on #51
It might be that the map() function needs some more then just mapping 0 to 320 and 320 to 0. I have an offset in the touches. I needed some like (p.x, 40, 280, 320, 0); For bigger buttons this wasn't really an issue, but for smaller buttons it seems it is. So I'm thinking to also make a calibration screen for the capacitive touch. Unless the offset is always the same for all screens, the we could

[2021-06-03 03:14] sle118 commented on #51
Ok. I'll add the calibration tomorrow; it will help gather some data to see if these panels are consistent across the board. For me, and using the capacitive version of the touchdown, flipping as described worked good enough.

FYI, I'm looking for some real complicated use cases of configurations of anyone has been watching this thread. I'm refining the parsing algorithm that will interpret the ex

[2021-06-03 03:17] sle118 commented on #40
@jptrsn I've implemented something similar in my squeezelite-esp32 project. I'll just go ahead and steal my own code to implement in my own fork.

Still very much in Alpha stage, but worth a try if you are interested
https://github.com/sle118/FreeTouchDeck

[2021-06-03 03:24] sle118 commented on #21
@mbazzo still in very early stages, but I'm doing my best to achieve some of the flexible goals you are craving for. Single button background color: check!

However, there's no front end at this point to make configuration easy and no documentation aside from making sense of the code. But all of what you are asking for is there and @DustinWatts has been kind enough to show some interest in my cont

[2021-06-03 22:01] sle118 commented on #51
I just pushed some more changes
- Device name is now a config parameter (should be a start to address https://github.com/DustinWatts/FreeTouchDeck/issues/40)
- Local actions are now easily customizable
- New button on the preference menu allows to enter sleep mode directly
- Callbacks structure was replaced with the local actions list
- Bug fix:  buttons drawing transparency addressed
- Led bright

[2021-06-04 06:50] DustinWatts commented on #51
A yes, a custom device name is much requested, so that is a good thing! It might be a good idea to when you push, you also push the data folder (or at least a general config). Just to give us some idea of how the structure of the JSON is intended.

I can't find the ledbrightness persistence btw. No issue, because I think this is a good idea!

My build doesn't crash when sending out mediakeys btw,

[2021-06-04 11:24] sle118 commented on #51
I had forgotten to push the LED persistence, my bad. I'll also make sure I test a bit more before pushing. This time, though, all I wanted was to seek the feedback you provided, given the novelty of user actions.

So two main console commands while there is no front end:
- showconfig dumps the configuration (generalconfig.json) in the terminal
- setconfig accepts the general config JSON text as an

[2021-06-04 11:35] sle118 commented on #51
@danielhunt I'll have a more robust iteration later in the day if you want to test that rotation is good now by default (after uploading the data folder once more).

[2021-06-04 14:14] DustinWatts commented on #51
That is a nice feature! Free text parsing is also very nice, haven't tried it out that much though.

I was thinking. A lot of people ask for some kind of Home Assistant support. So basically API support. The reason I have not yet implemented something like this was a) the lack of free text (which is not a problem anymore) and b) memory usage. Just like you were unable to start the configurator. Bu

[2021-06-04 17:24] sle118 commented on #51
If memory is an issue, then your next iteration of the Touchdown could be done with a ESP32 Wrover instead.  It has a "large" PSRAM that supports up to 4Mb of additional RAM. This is plenty enough to run all these things together.  Once I'm done with the bulk of the changes, I'll see how we can (or cannot) improve memory usage on the poor non-PSRAM ESP32 ;)

[2021-06-04 17:29] sle118 commented on #51
with regards to modifiers, they are now implemented as arrays in my local fork. I'll push later.  It is also possible to push a single menu or the whole new menu structure through the console, just like the general config json now.

[2021-06-04 21:28] sle118 commented on #51
Alright. Freetext now works to some extent

[2021-06-05 06:20] DustinWatts commented on #51
Could you also push the homescreen and one of your menu configs? I tried making a menu config, but other then the back button disappearing, I didn't get very far :)

[2021-06-05 08:17] DustinWatts commented on #51
I noticed that all buttons where being draw with a black background. So I modified the draw function a bit to draw the background according to the menu or function button colour if it is not a black background button. I'm not going to push things to your fork to keep things clean, so i'll just post what I did here.

In `void FTButton::Draw(bool force)` where I made the change to use the color of t

[2021-06-05 10:57] sle118 commented on #51
You should be able to use your own menus. The ones that you have as an example work out of the box. Once you are on the console of the started device, you can use "menus" command if I am not mistaken to dump the new structure as it is created internally. There's also another command to write menus into a single file; this is the one way trip to using the new menu format that is required for freete

[2021-06-05 11:05] sle118 commented on #51
Ideally, this logic should be in the FTButton constructor since the button type does not change after creation.

This is strange. I will have a look. Which button specifically? Mute/unmute does not get saved to general config, but beep/no beep (preference menuu) does. Try both to see if there is a difference. Also dump your config and make sure the colors are still there.

I will go ahead and remo

[2021-06-05 11:20] sle118 commented on #51
I'm going to see if I could put the touchdown under the binocular and replace the JTAG gpio from the TFT with something else. Having JTAG would speed things up considerably given that debugging with serial traces is akin to try hiking with a candle to light up the way. You see enough to walk, but not very far so it is slow.

Otherwise, is there a good source for the panels themselves? I could asse

[2021-06-05 12:48] sle118 commented on #51
Also one more note about the menu config. Back buttons are automatically added to the end of the list.

There are still some quirks with the parser, though. The biggest challenge is to keep backwards compatibility so users with complicated setup will be able to migrate without having to fully redo their setup, and that complicates the parsing code quite a bit.

I haven't had much feedback at this

[2021-06-05 18:41] DustinWatts commented on #51
I would not spend too much time on the backwards capability for the setups. Most users are already used to re-doing their config of all the changes I have made that required uploading SPIFFS again :)

That would be great!

What panel do you mean? A TFT panel? Or the PCB?

I'll have a look tomorrow. But I meant the Beep and Sleep buttons. I remember that when latching on/off the colour would stay t

[2021-06-05 19:49] sle118 commented on #51
I just pushed a complete example now with a sub menu, etc.

I meant the TFT screen with touch. I can't seem to find a reasonable price around.

[2021-06-05 22:19] sle118 commented on #51
I started an implementation for this already today. There are really two ways to do this:
- Before sending the ESP32 to sleep, save the state in a file. During startup, check the start reason. If it's wake-up from sleep, read the status file. If not, delete the file.
- The other approach is to store the latch state into the RTC memory. Since this would only apply to latch buttons, the limited spac

[2021-06-06 05:32] DustinWatts commented on #51
Maybe go this way. I'm thinking out loud now, we could make an option in the configurator that will allow user to choose if latch states will persist through reset and power down?

[2021-06-06 06:56] DustinWatts commented on #51
About the FREETEXT. If work is completed on that, I see no reason to have other types (other than needed by FTD itself). A configuration like this `"{LEFT_GUI}{LETTERS:r}{RELEASE_ALL}{DELAY:100}cmd{RETURN}dir{RETURN}"` is much simpler then have to configure each action separate.

I know the line above does not work. But I have a question: where and when are modifiers released? Ideally this would b

[2021-06-06 07:16] DustinWatts commented on #51
I still have the latch issue btw... reuploaded spiffs and the code. I'll try a erase_flash later today. And if that doesn't work, I'll make a little video showing you what I mean :)

[2021-06-06 13:52] sle118 commented on #51
I think I know what's wonky about colors. Setting config in the console results in converting the html colors to a different color space. The colors were then saved in that color space and converted again during config load. So the colors were going like
RGB888toRGB565->save->restart->load config->RGB888toRGB565 on a RGB565 color.

I'm going to save the text value in the config structure so it is

[2021-06-06 14:02] sle118 commented on #51
If we agree on "FREETEXT" going forward, then the parser will be very simple and I'll probably ditch the "action type" concept altogether.

As for release, it should happen after each sequence in the actions array. When actions are executed, the button checks if any requires releasing the keys and it should do it automatically.

[2021-06-06 16:53] sle118 commented on #51
Could you remind me how the transparent color logic is supposed to work?

[2021-06-06 18:45] DustinWatts commented on #51
If the first pixel of the image is black -> draw transparent (meaning all black pixels will become menu/function button colour), if not use the colour of the first pixel as the button background colour.

[2021-06-06 21:15] sle118 commented on #51
That makes perfect sense now. I'll make sure it works as intended!

[2021-06-07 17:29] sle118 commented on #51
I believe I have nailed down colors and transparency.  I even created a sub menu that uses all sorts of fancy colors for buttons, etc.

Free text now works well even with option keys, so it is possible to send sequences like {LEFT_ALT}{TAB}, or {LEFT_CTRL}{LEFT_SHIFT}F and not have to tell the system to release the buttons when done.  Releasing is performed automatically at the end of a given "FRE

[2021-06-07 18:17] DustinWatts commented on #51
Great! :) I took the liberty to structure the UserConfig.h a bit. I think for usability by inexperienced users, just selecting the right board should be enough. Something like this:

[code]

[2021-06-07 18:36] DustinWatts commented on #51
I'll leave that up there for a bit and then will remove it because of clutter. Another thing I was wondering. I couldn't find a way to have a menu button on the home screen just having a "label" instead of a logo, like it is possible to do in the submenu's. It could be that I overlooked it though!

[2021-06-07 19:57] sle118 commented on #51
The home menu generation was force defaulting the question icon. I resolved this in the upcoming commit, which also has the updated full menu structure including a label type sub menu.

I'm stripping away unnecessary complexity from the parser as well. There's going to be a cleanup needed for sure, but we're slowly getting there. I'm sure everyone will appreciate the simplified action configuratio

[2021-06-08 00:48] sle118 commented on #51
You could send me pull requests ;). Soon I think I'll be able to send a pull request your way and can run with the ball from there.

I must have killed about 75% of the actions code since not trying to support old configurations. Still need to regression before I push anything

[2021-06-08 04:47] DustinWatts commented on #51
Could you pull that in the DEV branch? All documentation is made for the current version and I need to re-write a lot of it. Which will take some time. When there is a working version including configurator (which I'm working on) we could invite people on my Discord and YT to download the DEV branch and become beta testers....

[2021-06-08 05:58] briight commented on #51
Im happy to test.  Iv already had alook around your fork and got it running on my esp32. Thing holding mine back atm was the web config crashed on start up

[2021-06-08 06:04] DustinWatts commented on #51
This is because the configurator is looking for json files that do no exist anymore. But even without that the configurator is not ready yet. So you could get around that but the configurator in it's current form will be useless atm.

[2021-06-08 06:08] DustinWatts commented on #51
Speaking of actions. I have an idea to add an `GPIO` action to the ActionTypes class. Which will be a GPIO toggle action. To make sure only free GPIO's are allowed to be in that action, maybe an ALLOWED_GPIO array in the UserConfig per board?

[2021-06-08 06:08] DustinWatts commented on #51
I was also wondering... is there some price to be had for the longest/most commented issue on Github? :D

[2021-06-08 12:00] sle118 commented on #51
Not really, but GitHub now has discussions for these things  ;)

[2021-06-09 15:40] sle118 commented on #51
I've made good progress (causing a rather short night of sleep) and the configuration simplification is now complete.  I have started testing and need to tune the keyboard playback as I had an issue with the TAB key.  A couple of things that went along the way:

- Colors are now stored as RGB888 values internally and are only converted when needed. Originally, I was keeping the values as RGB565, w

[2021-06-09 16:19] danielhunt commented on #51
Amazing work @sle118 👏

[2021-06-09 17:22] sle118 commented on #51
@danielhunt  you haven't seen a line of code yet... shall you really trust that it's done ?? ;)

[2021-06-09 18:40] danielhunt commented on #51
Ah good point. That *sounds* like amazing work so 🤣👏

[2021-06-09 19:48] sle118 commented on #51
Perhaps someone can enlighten me here.  If I press LEFT_SHIFT, then type some characters, then release the shift, it seems as though the first subsequent character is always being "shifted up".

What am I missing?

[2021-06-09 20:14] DustinWatts commented on #51
Can you give an example of the key sequence you are using? Maybe I can figure out what is happening. The blekeyboard.Write() function makes a distinction between upper and lower cases.

[2021-06-09 20:30] sle118 commented on #51
The action is defined as
[code]

and this produces the following output

[code]

As you can see, it seems like the character that comes right after the release `.` is interpreted as `>` which is the equivalent of `{LEFT_SHIFT}.`.

[2021-06-09 20:53] sle118 commented on #51
@danielhunt now you can see for yourself!

[2021-06-10 02:10] sle118 commented on #51
I have started experimenting with SD cards.  I'm thinking of a seamless integration here... insert a SD card with the data folder structure and you're up and running. Otherwise, the system falls back on SPIFFS.

seems simple enough to achieve, except for the "get free space" for which total space and used space methods aren't standard in the fs::FS class.

to be continued, but this is likely the b

[2021-06-10 02:52] sle118 commented on #51
@coryb now would be a good time to have a look at my fork. I think I've reached a state where refactoring of the code will be limited to peripheral features. The core is streamlined sufficiently good now, and offers a good base for extensibility.

I've moved so far in the code that I haven't documented much, though

[2021-06-10 08:20] briight commented on #51
@sle118 hey could you enable issues section on your fork so i can start adding things i find =) thank you =D

[2021-06-10 10:52] sle118 commented on #51
@briight for now you could list them here. I intend to send a pull request towards Dustin's repo, probably on the development branch or a new one given how far the code base has gone compared to the original.

Note that there is currently no support for for the configurator. Everything needs to be done through either flashing files from the data folder, or by using the console through the serial p

[2021-06-10 11:26] briight commented on #51
Ah okies kool

Is there anyway to build the config for my menus with a gui or it all manual atm ?

[2021-06-10 11:26] briight commented on #51
Screen Rotation setting dosnt work on esp32 dev

[2021-06-10 11:35] sle118 commented on #51
It is an manual, but please have a look at the examples I provided; you will see how simple it has become.

[2021-06-10 11:38] sle118 commented on #51
Could you please provide more details? Running on the esp32-touchdown works for me and I don't have many more hardware platforms to test against

[2021-06-10 12:13] briight commented on #51
I change the number next to screen rotation and it dosnt change anything.  Im assuming it like the old one 1,2,3,4 and the 90⁰ diffrent

[2021-06-10 12:28] sle118 commented on #51
Please try changing the value in the config json file, either through showconfig/setconfig or via data folder upload

[2021-06-10 15:40] sle118 commented on #51
Behold everyone.  I've added support for an SD card which will seamlessly use whichever storage class that's available. If other users have different storage type, they will have the ability to expand easily.

While doing this, however, I went ahead and did one more refactoring of the code. This time, it isn't changing the code itself; I just decluttered the main `FreeTouchDeck.ino` file so it is

[2021-06-10 16:17] briight commented on #51
changed in general.json worked on the rotation ty

[2021-06-10 18:19] sle118 commented on #51
ok. I'll make sure the system pulls from the build on the initial start, rather than from the json file itself. After initial start is complete, the json will be updated with the rotation value defined in the build.

[2021-06-10 18:29] briight commented on #51
I think it might be good like it is.   If u want to change the oriantation I just have to edit a file on ur SD card if u are using it

[2021-06-11 18:08] DustinWatts commented on #51
I have the same feeling. I did a side by side comparison with the original code and it is faster. Not by much, but enough to make a huge difference in how it feels!

[2021-06-11 18:54] DustinWatts commented on #51
I love this option. I'm pretty used to re-uploading the SPIFFS each time, but it would be a huge bonus for users!

[2021-06-11 19:00] DustinWatts commented on #51
I noticed that keydelay is not used between characters in FREETEXT, only between actions. Adding a small delay when typing text can make a huge difference in characters not being missed. So my idea is to also add the delay between each character. Best practice I found is to iterate through a char array with a small delay (10ms) between each char...

[2021-06-11 19:01] sle118 commented on #51
I think we should coordinate on that configurator. There are a few things that the backend can do to ensure consistency with the UI. For example, the backend should
- Be able to send a list of valid keyboard tokens
- Be able to send a list of valid user actions
- Be able to send a list of known menus (including system and root)
- Be able to perform validation on menu content
- Be able to generate

[2021-06-11 19:02] sle118 commented on #51
ok. I'll make that a config option, alongside the current delay, which is used between actions

[2021-06-11 19:27] sle118 commented on #51
I have the SD/SPIFFS storage implemented (had to rewrite the whole class because my editor froze and an empty file was written to disk).

There's an annoying memory hog which I need to investigate. I'm not sure at this point if it is caused by initializing the SD card or if it is something else.

[2021-06-11 20:52] briight commented on #51
i got around to setting up one of my pages  iv noticed that some keys stick on  (so far only used {RIGHT_CTRL}{RIGHT_SHIFT}) causing docs to be highlighted and zoomed in lol, like a release key function isnt there or not working. other things i carnt find are delay on key presses, i understand there are more important things going on =) and i carnt get my head around the latching,

i understand th

[2021-06-11 22:06] sle118 commented on #51
delay is a local action: {DELAY:200}
Release happens automatically at the end of each line in the actions array.
Release can also be forced with {RELEASEALL}

you can check in UserActions to find out the valid actions that are built in

I just checked in some WIP progress on SD card support

[2021-06-12 00:46] sle118 commented on #51
Just saying.... Would there be any interest in being able to use JavaScript to do some fancy actions when pressing buttons? I'm referring to a diminutive version of the language, but nevertheless, any interest?

[2021-06-12 05:01] DustinWatts commented on #51
You might want to have a look at https://github.com/DustinWatts/FreeTouchDeck-Helper I wrote this app in Electron/NodeJs to give the user access to the shell using the "helpers" (technically any shortcut). You mean something like that?

[2021-06-12 06:22] DustinWatts commented on #51
The FREETEXT `"This is some text{TAB}After tab key{LEFT_SHIFT}some capitalized text",
        ". And this text has the shift key released automatically. {RETURN}",
        "{LEFT_SHIFT}some more capitalized text{RELEASEALL}. Followed by a manual release"` didn't work as expected. Like you said earlier a `.` became an `>`. I also noticed that ALT+TAB was holing down ALT. So I rewrote that bit and i

[2021-06-12 11:03] sle118 commented on #51
Nope. I was referring to running a subset of Java ON the touchdown itself. If is possible to expose custom objects/methods to allow gpio manipulations, calling local actions, etc.

The only thing I'm not too certain about is if there's enough memory left for this. We might want to consider looking at the biggest memory hitters and reduce their footprint wherever possible. Xtaskcreate with unnecess

[2021-06-12 12:45] sle118 commented on #51
What do you have as the key delay in your config?  I think you might have made another change somewhere else? This bit of code happens to run on keys like shift, ctrl, etc. Releasing at this point of time effectively means the system will press, say, LEFT_SHIFT then release it before sending the following key sequences. This is because the ActionSequence parser breaks a single action like into mul

[2021-06-12 13:10] sle118 commented on #51
Is there a way to register a callback for when the ble keyboard is done communicating the keys in its queue? I think this might be the main culprit here and I'd like to try waiting for the buffer to empty before releasing.

[2021-06-12 13:49] briight commented on #51
tried ur latest fix but carnt put it on my esp32

'touch_calibrate' was not declared in this scope'

[2021-06-12 17:07] sle118 commented on #51
Do you have a capacitive touch screen? If so, make sure you define this
`#define USECAPTOUCH`

[2021-06-12 17:13] briight commented on #51
no i dont

when i add this #define USECAPTOUCH my touch stops working

when its not there it just throws up that error in program

[2021-06-12 17:48] sle118 commented on #51
Ok. I'll have a look later today; it is definitely something that can be resolved easily. Since my main development platform is now the touchdown, I tend to forget making sure other platforms work as well

[2021-06-12 18:13] seraasch commented on #13
I'm going to vote for adding OpenHab to the list... There is a REST interface as well as MQTT.

[2021-06-14 16:56] briight commented on #51
the fix worked thank you

keys are still sticking on

[2021-06-14 17:02] sle118 commented on #51
Yep. I am giving that issue some TLC now

[2021-06-15 10:58] sle118 commented on #51
changes are pushed now.  Seeking feedback!

[2021-06-15 12:38] sle118 commented on #51
ahhh oups. Just pushed a small one.  Actions were stuck. Hoping no one tried volume up with that previous push :S

[2021-06-15 12:39] danielhunt commented on #51
I did. It was ... an experience :D

[2021-06-15 13:24] briight commented on #51
Works great    no sitcky keys

could you explain how i would add a delay to a key press  as obs need one to pick up on hotkeys   thanks

[2021-06-15 13:33] sle118 commented on #51
Just insert `{DELAY:100}` where you need the delay, and set value as needed.

[2021-06-15 13:34] sle118 commented on #51
I was lucky enough that I pushed mute. And I was like... Why the heck is sound stuttering?? 8)

First rule is "don't test with audio on the first attempt"

[2021-06-15 13:39] briight commented on #51
i added this  it just delays the key press.   not delays the release of the keys

[2021-06-15 15:15] sle118 commented on #51
I think I know why this is happening and I'm thinking I need to have all local actions run in the same queue as the keyboard. Stay tuned, I'll look it up.

In the meantime, could you share your obs menu here?

[2021-06-15 15:16] briight commented on #51
`[
   {
    "type":"HOME",
    "name":"OBS",
    "colscount":3,
    "rowscount":4,
    "logo":"SCENESWOW.bmp",
    "buttons":[
	{
        "logo":"HIDVID.bmp",
        "latchedlogo":"HIDVID.bmp",
		"type":"LATCH",
        "actions":[
          "{RIGHT_CTRL}{RIGHT_SHIFT}{F17}"
        ]
      },
	  {
        "logo":"volumedown.bmp",
        "actions":[
          "{RIGHT_CTRL}{RIGHT_SHIFT}{F13}"

[2021-06-15 16:00] sle118 commented on #51
if your icons are free of charge, could you please share them somewhere as well? for example on imgur.com or somewhere else

[2021-06-15 16:33] sle118 commented on #51
@briight please try with the latest changes, and make sure you try the following sequence
[code]

[2021-06-15 16:34] briight commented on #51
yea   it like delays the press  so the it happens with a 200ms delay

[2021-06-15 16:38] sle118 commented on #51
does it mean it works?

Could you describe the exact sequence (press, ... delay, release, ... ) that would need to work?

[2021-06-15 16:43] sle118 commented on #51
you mean holding F22?

I'm confused with the use of short acronyms.

[2021-06-15 16:51] briight commented on #51
obs dosnt pick up on the quick combo presses    iv had to add delays into them on the old FTD

[2021-06-15 17:25] sle118 commented on #51
I checked the old code and it definitely seems like F22 is being held during that delay as well.

So I'm going to make something that will allow something like
[code]
This will allow inserting a delay between the press and the release

[2021-06-15 17:32] briight commented on #51
{RIGHT_CTRL}{RIGHT_SHIFT}{F22} held down all at once for 100ms to clarify

I'll upload my icons when I have chance

[2021-06-15 17:38] sle118 commented on #51
yes, this is expected. The playback of
`{RIGHT_CTRL}{RIGHT_SHIFT}{F22:200}`

will be as follow:  ` **press RIGHT_CTRL, press RIGHT_SHIFT, press F22, delay 200ms, release F22, release all**`. The old logic would have done ` press RIGHT_CTRL, press RIGHT_SHIFT, press F22, release F22, delay 200, release all`, which obviously was wrong.

[2021-06-15 17:50] DustinWatts commented on #51
This is actually done because of the way OBS polls the keyboard. Especially when under heavy load, it stops catching keystrokes.

I'm taking a look at the SD card support atm. Is the expected behavior that once loaded from SD card, the SD card needs to remain in place? I mean, when the SD card is removed, it will default back to something? Or should the SD card config be copied? I think this might

[2021-06-15 17:57] DustinWatts commented on #51
Something else I just found. I can select multiple menus, and it will load them one after another. The back button then takes me to all other menus that I touched, and eventually back where I came from (in my case the main menu). But the same behavior is observed with function buttons...

[2021-06-15 18:29] sle118 commented on #51
I think it's a good idea. However, I'd restrict the copy to only the json files and not the logos because of space constraints.

Good point. Noted.

Could you be more specific?

[2021-06-15 18:41] DustinWatts commented on #51
Absolutely. I can drag my finger across the buttons and it will register all them in sequence. When I let go, all actions (or loading a menu) are preformed.

I did that the last time I commented about this. That was definitely faster. However the recent push seems to have made it a bit slower again.

[2021-06-15 18:57] sle118 commented on #51
Ok. This is a side effect of executing the actions upon release; I started this to allow for users to slide fingers away from an accidentally pressed button ;)

This is surprising to say the least. One thing that might give this impression is that the button matrix (shapes and labels if no logo) is drawn first, then images 2nd. Please try something like a 6x6 menu, all with logos and see if the to

[2021-06-15 19:49] neolinux opened #62 "Compiling error..."
Hello,

i have these errors when compiling the code in arduino:

`In file included from C:\Users\neolinux\Documents\Arduino\libraries\TFT_eSPI/User_Setup_Select.h:22:0,
                 from C:\Users\neolinux\Documents\Arduino\libraries\TFT_eSPI/TFT_eSPI.h:39,
                 from C:\Users\neolinux\FreeTouchDeck\FreeTouchDeck.ino:79:
C:\Users\neolinux\Documents\Arduino\libraries\TFT_eSPI/User_Set

[2021-06-15 20:08] DustinWatts commented on #62
It looks like you forgot to comment out some lines in `User_Setup.h`:

[code]

The easiest way to get a working `User_Setup.h` is to copy the contents of the example setup:
```https://github.com/DustinWatts/FreeTouchDeck/blob/master/user_setup.h%20Examples/ESP32_Dev_Kit_V1_ILI9488_Resistive.h```

[2021-06-15 20:20] neolinux commented on #62
Ok, i've done that, but what abount the warnings:

warning: ISO C++ forbids converting a string constant to 'char*' [-Wwrite-strings] "", KEY_TEXTSIZE); ^

My screen is white and nothing is displayed :/

[2021-06-15 20:31] DustinWatts commented on #62
Those warnings should not affect the functioning of FreeTouchDeck. Are you using the ESP32 TouchDown or the ESP32 in combination a resistive TFT.

If nothing is displayed it would be worth checking the connections you made.

[2021-06-15 20:35] neolinux commented on #62
I copied the content of `https://github.com/DustinWatts/FreeTouchDeck/blob/master/user_setup.h%20Examples/ESP32_Dev_Kit_V1_ILI9488_Resistive.h` in the `User_Setup.h`.

I use your PCB for connecting the whole thing.
My Hardware is:

`https://de.aliexpress.com/item/32954128438.html?af=1016336&utm_campaign=1016336&aff_platform=portals-tool&utm_medium=cpa&dp=f74333fe66a4f5bb9f36355a8fd8e9e8&aff_fcid=0

[2021-06-15 20:40] DustinWatts commented on #62
are you getting any output on the serial monitor?

[2021-06-15 20:46] neolinux commented on #62
o_O

it works now, i don't know why... but the touch doesen't work now 🗡️

that's what is see in the console:

`rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:1
load:0x3fff0018,len:4
load:0x3fff001c,len:1216
ho 0 tail 12 room 4
load:0x40078000,len:10944
load:0x40080400,len:

[2021-06-15 20:54] DustinWatts commented on #62
If the touch doesn't work, it probably calibrated wrong. You can type `cal reset` in the serial monitor (No Line Ending) to restart the ESP32 and present the calibration screen again. Uploading the SPIFFS again would also do this...

[2021-06-15 20:56] neolinux commented on #62
Now it works :D

Thank You.

[2021-06-15 21:25] briight commented on #51
just tried the push u did about 2 hours ago
loading image fixed
dragging finger on buttons fixed
delay working and obs responding out of focus
Brilliant dude ty

[2021-06-15 23:43] sle118 commented on #51
@briight if you have an external SD card like on the touchdown, you can experiment!

[2021-06-16 02:12] sle118 commented on #51
So I just started refactoring the image wrapper class and if this was a work project, I'd go for some dependency injection pattern or for a form of inheritance, but I'm not sure I want to go there. I hate to say, though, that I really don't like scaling code with case statements so I just might bite the bullet and do the proper thing. JPG is good, but then there's PNG and SVG as well (there's one

[2021-06-16 05:41] DustinWatts commented on #62
Great!

[2021-06-16 05:41] #62 closed

[2021-06-16 08:36] briight commented on #51
here are my icons i use
https://imgur.com/a/ls8wjAN

i will hook up my sdcard today  and try and find an old sdcard

[2021-06-16 12:28] briight commented on #51
hooked up the sd card   carnt get it to work
also not getting any info back on the serial monitor to see why

[2021-06-16 18:18] sle118 commented on #51
could you uncomment the following line in the sketch and recompile?
`#define DEFAULT_LOG_LEVEL LogLevels::DEBUG`

[2021-06-16 18:37] briight commented on #51
ok done that  got a long file now
just looking through it

[I][FreeTouchDeck.ino:155] setup(): Starting system.
[I][Storage.cpp:125] InitFileSystem(): Initializing storage SPIFFS
[I][Storage.cpp:135] InitFileSystem(): Using File system SPIFFS.
[I][Storage.cpp:120] InitFileSystem(): Reached the end of the file systems list
[I][ConfigLoad.cpp:265] loadConfig(): Loading configuration from file name:

[2021-06-16 19:04] sle118 commented on #51
Ah!

Ok. You have to specify the GPIO for the SD card reader.  For the TouchDown, it is `#define SDDAT3 25 ` in the `UserConfig.h` file.

Could you remind me which board you are using?

[2021-06-16 19:07] briight commented on #51
DOIT ESP32 DEVKIT V1 Board
u know how long i was looking for `#define SDDAT3 25`
using the search and didnt find it =(

[2021-06-16 19:49] DustinWatts commented on #51
In UserConfig.h try adding `#define SSDAT3 26` under:
[code]

So it becomes:
[code]

Save and reupload the code...

[2021-06-16 19:50] briight commented on #51
i just found this already testing
=P

[2021-06-16 19:50] briight commented on #51
that why i couldnt find it wasnt in the board section i am using

[2021-06-16 19:52] DustinWatts commented on #51
The ESP32 DevKitC and TFT combiner board I made uses some slightly different pins. On that board SSDAT3 is on GPIO26.

[2021-06-16 20:13] briight commented on #51
so it worked 1 time
now i carnt get it to do it again lol

[2021-06-16 20:42] sle118 commented on #51
well, I decided to goo full blown on polymorphism for the image handlers, but I have to say this sort of things is easier to do in c# than in c++, especially because my advanced c++ knowledge is rather rusty. So jpg will take a bit of time!

[2021-06-17 11:51] briight commented on #51
so i added another menu to my sdcard   almost the same as my first one with a few keys changed same icons the only icon changed was the one on the main screen
it loads up the menus on the main screen fine  once in one of th menus  the buttons are draw but no images.
in the serial monitor i get

`[E][ImageWrapper.cpp:346] Draw(): Error allocating 12540 bytes of buffer for image drawing!`

so i trye

[2021-06-17 12:51] sle118 commented on #51
Have a look at the `UserConfig.h` file. There you will see the following line `#define BITMAP_BUFFER_FREE_RAM_PCT 0.30`. this is the percentage of memory that is allowed to be allocated for image drawing buffering. I might have been too aggressive here. Please try 0.15 and see if it helps

[2021-06-17 13:44] briight commented on #51
i dont use a tft combiner , i also have other thing connected volume sliders on gpio 39,34,35,32,33,25

[2021-06-17 16:23] sle118 commented on #51
Neat! Did you go and implement AVRCP to get absolute volume controls? How do you keep the sliders levels in sync with the host's volume levels?

[2021-06-17 16:51] briight commented on #51
i put another project called deej into ftd

[2021-06-17 21:38] sle118 commented on #51
I just wanted to let everyone know that JPG files are now supported and will be the de-facto format going forward. I did replace all built in icons with JPG files, so you will need to adjust your personal menus.

Also, SD card init procedure will now show progress on the TFT screen.

I'll push changes when I have done sufficient testing

[2021-06-18 20:36] sle118 commented on #51
I just pushed the changes.  JPG is now supported FROM SPIFFS (internal storage). Don't try on SD card yet. SD support needs some attention and I'm not sure if I'm having issues because of a faulty card or because of the code. So for now stay on SPIFFS ;)

[2021-06-19 01:27] sle118 commented on #51
for anyone still following this story, I have just pushed what looks like a somewhat good starting point for SD card support INCLUDING JPG !

Using JPG as opposed to using bmp means there's less data to transfer during drawing of screens, which somewhat compensates for the fact that SD cards in general are slower.

I still need to figure out a way to gracefully handle the "unexpected removal" of t

[2021-06-19 15:04] sle118 commented on #51
I pushed another set of changes today. These are mostly geared towards getting more stability out of the SD card. I did identify one leak and I'm hoping fixing it will have helped a bit.

[2021-06-23 20:31] sle118 commented on #51
So for anyone not following on discord, I just pushed some changes

- Lower memory footprint
- Audio now has an ERROR signal
- To play it safe with a smaller stack space, saving configuration is now done in a separate task that can be queued
- ArduinoJson is no longer used.
- Configuration now has a complete API for changing values, saving, etc
- A few backend endpoints were added to the web serve

[2021-06-23 21:43] sle118 commented on #51
And by the way, I'm very close to calling it finish. There's a few renames of variables and methods to do, but overall I'm happy with the current state as I think it has reached a stable enough state.

Next I plan on experimenting with the Arduino cli to build for various targets using the GitHub workflows

[2021-06-23 21:53] briight commented on #51
#define SDDAT3 25 need to be added to the devkit part =)

`/* Using the ESP32 DevKit with a screen module */
#elif defined(ESP32DEVKIT)
#define SCREEN_ROTATION 1
#define FLIP_TOUCH_AXIS
#define INVERSE_Y_TOUCH
#define touchInterruptPin GPIO_NUM_27
#define SDDAT3 25
#else
#error("Unsupported platform")
#endif`

[2021-06-23 21:56] sle118 commented on #51
At this point, you might want to fork my repo and submit pull requests. Eventually, I think @DustinWatts would want to merge my code and make it official, so it is well spent efforts ;)

[2021-06-24 01:15] sle118 commented on #51
Well I decided to finally take the plunge : https://github.com/DustinWatts/FreeTouchDeck/pull/64

[2021-06-24 16:12] sle118 commented on #51
Since the changes were merged, I'll go ahead and close this.  Anyone interested, I'll be hanging around on Discord

[2021-06-24 16:12] #51 closed

[2021-06-24 18:29] DustinWatts commented on #51
Amazing work!

[2021-06-24 18:29] briight commented on #51
prob a good idea to wait for a easy way to config the menu's, been using urs for a while now and i love it
thank you =)

[2021-07-17 19:59] pearson commented on #53
If a change to button 6 does not save, perhaps the configuration page shouldn't allow the user to change it? That confused me as well, and led me to come here to look for a new version of the software.

[2021-07-22 14:05] rlust commented on #13
I want to try this on openhasp! What binary does the ESP32 use? Please share if you have this working!

[2021-07-23 07:27] DustinWatts commented on #13
You can find the binary in the release: https://github.com/HASwitchPlate/openHASP/releases/tag/v0.6.0

[2021-07-24 00:42] rlust commented on #13
Which binary do I use for a ESP32 WROOM DEV module?

[2021-07-24 07:05] DustinWatts commented on #13
Hmmm... I'm not sure what's happening there. Can you open an issue here? : https://github.com/HASwitchPlate/openHASP/issues

[2021-07-25 14:20] rlust commented on #13
Thanks for the help! I got openhasp loaded. Do you have any ideas on how to configure OpenHasp to use your TFT Combiner. Have the web page working but no display. I am using a ILI9488.

[2021-07-26 07:13] DustinWatts commented on #13
You have to define the correct pins to use. The pins are:

TFT_BL   32
TFT_MISO 19
TFT_MOSI 23
TFT_SCLK 18
TFT_CS   15
TFT_DC    2
TFT_RST   4

TOUCH_CS 21

Also, you can try check if the display is working by uploading an example from the TFT_eSPI library. Use the User_Setup.h that is in the examples folder in this repo. Use the "resistive touch" verison.

[2021-07-26 14:39] rlust commented on #13
Did you have to short J1 pin to make 3.5 TFT SPI ILI9488 work with ESP32 ?

[2021-08-01 18:15] eduportella opened #67 "Development branch"
Hey guys!

I was using the master branch here for my setup , but as i saw the video about the new features on development branch i compiled and tried to use, im having a issue here that the menu loads , shows but i cant use any button they have no action , and nothing on the log, if i use the master branch works perfectly , could you please help?

thanks!

[2021-08-06 00:28] eduportella commented on #67
i tried to upload all again and got the same problem

[2021-08-06 07:14] DustinWatts commented on #67
Can you explain what you mean with no action? What board are you using?

[2021-08-06 11:42] eduportella commented on #67
hey @DustinWatts  first of all thanks for answering!

Im using a  ESP32 DEVKIT V1 (WROOM32) and a  TFT LCD module with touchpanel ILI9488 as recomended ([this one with touchscreen](https://a.aliexpress.com/_mrwfep1)).

No Action i was meaning that when i power it up  it shows the bootscreen, loads the main menu but none of the buttons do anything, also no calibration was showed, if i clear all and

[2021-08-07 12:02] DustinWatts commented on #67
The development branch has a new UserConfig.h (https://github.com/DustinWatts/FreeTouchDeck/blob/development/UserConfig.h)

If you select the right board there, it should work!

[2021-08-07 14:32] eduportella commented on #67
hey Dustin,

I selected the  correct board but still no changes :(
[code]

[2021-08-07 15:05] eduportella commented on #67
Oh No :(

I was trying another board config and my touch display just blinked and now does not work anymore, i checked with a multimeter and the energy is going, i think i will need another one ;(  wait more 40 days

[2021-08-10 14:03] eduportella commented on #67
I made a. Video already tested the configs as recommended , but still when touch nothing happens neither log

[2021-08-11 00:57] eduportella commented on #67
Resolved on the third time i deleted all and done it all again started to work! thanks

[2021-08-11 00:57] #67 closed

[2021-08-16 09:29] martinglass opened #68 "missing file error - menus.json"
Using the development branch, the code compiles and uploads ok, but the screen shows the following error on startup:
"Unable to load file /config/menus.json"

PS I'm using Dustin's ESP-32 Touchdeck with capacitive touchscreen

[2021-08-16 10:43] DustinWatts commented on #68
Did you also upload the SPIFFS?

[2021-08-30 16:33] lbehrler commented on #53
It would be nice to code this button to a back arrow or in my case I would like to code it to a custom home button.  I have 5 setups a couple of which are for meetings and such It would be nice to use that 6th position with a custom icon to give the user and idea what sub-menu they are in.

[2021-09-10 13:55] newwolf opened #69 "Flashing error ESP32 + TFT"
Heee,

Saw the new version for flashing by BIN file. (also only the only one now?)
Tried to flash it to my already working TouchDeck, but it gives me a error.
I used multiple ways to flash it, but it keep giving the same error.

Hope you help me/us.

Greetz,
Jos

Using 'COM3' as serial port.
Connecting.....
Detecting chip type... ESP32
Connecting....

Chip Info:
 - Chip Family: ESP32
 - Chip Model

[2021-09-11 05:54] DustinWatts commented on #69
Hi @newwolf What are you using for flashing? Can you post the command you are using?

[2021-09-11 13:32] newwolf commented on #69
I used esphome-flasher and tasmotizer.
The first one uses esptool.py don't know if there is logging

[2021-09-11 21:17] DustinWatts commented on #69
Try using the esptool.py directly (`esptool.py write_flash 0x0 ESP32DevKitC.bin`). I used that, and got no error.

[2021-09-27 08:50] newwolf commented on #69
Sorry for the late reaction.
But just tried it and it worked that way. (strange but true)
Thanks.....

C:\temp\esptool-v3.1-win64>esptool write_flash 0x0 ESP32DevKitC.bin
esptool.py v3.1
Found 1 serial ports
Serial port COM3
Connecting......
Detecting chip type... ESP32
Chip is ESP32-D0WDQ6 (revision 1)
Features: WiFi, BT, Dual Core, 240MHz, VRef calibration in efuse, Coding Scheme None
Crystal is

[2021-09-27 08:50] #69 closed

[2021-10-09 21:41] abrilevskiy opened #72 "Layout options: 4x3 and/or 5x4"
Hello,

Is it possible to have layout options: 4x3 and/or 5x4?

[2021-10-10 05:48] DustinWatts commented on #72
Hi! Not in the master branch. But we are working on this on the development-branch. The only thing missing in the development branch is the configurator. So you would have to edit the configuration JSON files manually.

[2021-10-14 17:03] abrilevskiy opened #73 "File names are corrupted"
![image](https://user-images.githubusercontent.com/7629383/137363621-048d915c-cf73-478d-a74d-57787d20b579.png)

[2021-10-15 05:44] DustinWatts commented on #73
Hi @abrilevskiy, this is happening more often when using the latest ESP32 Arduino Core. I'm looking in to how this happens. So solve it immediately, you can compile the code to version 1.0.6 of the ESP32 Core. If you do not upload the data folder, the files are untouched and you are ok.

[2021-10-15 08:09] #26 closed

[2021-10-15 08:09] #23 closed

[2021-10-15 15:55] #73 closed, assigned to DustinWatts

[2021-10-24 06:33] chrkan opened #74 "Key combination posible ??"
Hello,

it is possible to send several keys at the same time, e.g. Ctrl + Shift + M or Ctrl + Shift + O for MS Teams

Ich fand leider nur die aussage: "Each action is preformed in order"

[2021-10-24 06:51] #74 closed, assigned to nobody

[2021-11-08 10:43] newwolf commented on #6
Any change this will be implemented in a next release as default option?
It's a feature I really like.
The panel is now laying at the corner of my desk and crying for getting used at the moment . ;-)

[2021-11-11 13:04] danielo515 commented on #45
Well, in the same spirit as @TheAlgorythm I also would love to be able to configure custom MACROS that are just send as keystrokes.
On top of that, i think that the entire list of characters needs to be included, at least all the characters that can be typed with a keyboard: `[]~@<>{}()=: ; _ ` are just some examples that I use daily

[2021-11-11 13:08] danielo515 opened #77 "Add a checkbox to press all the buttons instead of one after the other"
Hello.
I just started using my free-touch-deck and I almost immediatly noticed that I can not execute complex combos.
For example `alt + gui + ctrl + ]`. I tried selecting `alt + gui + ctrl` on the first action and then a similar simbol on second action, but they are executed one after the other. I would love to be able to make them be pressed at the same time.

Regards

[2021-11-12 06:19] DustinWatts commented on #77
Hi @danielo515, if you select `alt+gui+crtl` from the combo's menu, then a symbol on action 2, it should press all of them before releasing. Keys are releases at the end of the three actions. Or if you select release all... I will check if I can replicate your problem...

[2021-11-12 06:21] DustinWatts commented on #45
@danielo515 As I said to TheAlgorythm, it is possible, only not through the configurator. You will have to edit the code and create custom macros.

I do take notice of the characters and will add them as soon as possible.

[2021-11-12 06:30] DustinWatts commented on #77
I just confirmed that this configuration presses `alt+gui+crt+]` and then releases them all:
<img width="419" alt="Screen Shot" src="https://user-images.githubusercontent.com/18088135/141420818-b44e5abe-9e2c-4e2b-8f20-599fa815953b.png">

[2021-11-12 09:30] danielo515 commented on #77
Oh, that is awesome.
Have you added that symbol to the next release already? Wonderful.
Sorry, by reading the docst I thought it was like I described. Glad to see it is not.

[2021-11-12 09:30] #77 closed

[2021-11-12 09:32] danielo515 commented on #45
Well, thanks for confirming it is possible on the code, but one of the things that attracted me to the touch-deck was being able to quickly iterate on macros, as opposed to my QMK macropads that require a compilation step.
So my vote is to find a way to do that on the GUI.

[2021-11-12 10:37] danielo515 opened #78 "Platformio support"
Hello again, and thanks again for this project.

I was wondering if it would be possible to make this project a little bit more plug-and play than having to manually add a bunch of libraries.
Something like

[code]

will be awesome. I am coming from other modern languages and I am very used to everything living inside each repo, so having to change my local for making one project work is not somet

[2021-11-12 11:18] danielo515 opened #79 "SPIFFS is deprecated"
When I try to compile the project I get a warning telling me that SPIFFS is deprecated, and that I should consider moving to other filesystem like LittleFS.

Just pointing it out

[2021-11-13 07:01] DustinWatts commented on #79
Hi @danielo515 Correct, LittleFS is the next thing on my list. It should not be hard to do, but I want to test it thoroughly.

[2021-11-13 07:03] DustinWatts commented on #78
@danielo515 There are some forks that use PlatformIO (looks like you found one) and it is also on my list :)

[2021-11-13 07:05] DustinWatts commented on #77
No problem!

[2021-11-13 07:07] DustinWatts commented on #78
Edit: This is a fork you can test https://github.com/pearson/FreeTouchDeck

Before I Pull it though, I want to test is some more. Also, the docs will need some big rewriting. And that is some huge work. Not sure if I will do that before the -development branch becomes the -master branch.

[2021-11-13 08:38] DustinWatts commented on #45
@danielo515 https://github.com/DustinWatts/FreeTouchDeck/commit/3aa366427ff764bf857e26cfc1cbb0534e1efc70 adds the missing keys.

Also, a new file is there called UserActions.h. In here there are functions that you can create (userAction1(); etc) that will let you put the whole function under a button via the configurator. Have a look at the examples!

[2021-11-15 09:41] danielo515 commented on #78
I think that is, indeed, the one I found. It needs an update to the docs, and I am not sure about the submodules approach for libraries. I mean, it is better than letting the end-user manage the libraries on his own, but I think using the libraries functionality of platformio will be better

[2021-11-15 09:46] danielo515 commented on #45
That looks awesome @DustinWatts !!!
Thank you very much

[2021-11-15 09:50] danielo515 commented on #13
So, I want to generalise this issue to, instead of integration with HA, add the ability to send HTTP requests.
That will allow to integrate it with any REST service of your choice. Then we can write guides about how to integrate HA if that is what you want using the REST API, along with other services.

By the way, a mention to the openhasp project with a note on which binaries to use will also he

[2021-11-15 09:52] danielo515 commented on #6
A function to include custom user actions have been included. It requires a bit of code on your side, but you will be able to then configure from the GUI.
Will that work for you @newwolf ?

[2021-11-19 13:48] danielo515 opened #80 "ESP32 TouchDown Case?"
Hello.
I just printed the top part of the case just to realise that my ESP32 TouchDown does not fit. And even if it did, there is not enough room to put the USB cable. Is the case even compatible with the TouchDown? If not, It will be nice to note that ont he readme to save some users frustation

[2021-11-22 19:26] eismeraldo opened #81 "Compile Error"
First of all, thank you very much for the FreeTouchDeck library, it's wonderful.
I downloaded the latest libraries as you explained here: https://www.instructables.com/A-Bluetooth-ESP32-TFT-Touch-Macro-Keypad/
The compiler then displayed an error. The name KEY_NUM_ASTERISK is in file Action.h in line 533 and according to ESP32-BLE-Keyboard-master / BleKeyboard.h line 33 it should probably be KEY_N

[2021-12-05 16:50] gjelsoe commented on #78
At some point, you won't have to compile it yourself as it's possible to setup an autobuild system on Github unless you want
to add some funtions.

I've played with this on my own Fork that includes PlatformIO, Makefile and a Github autobuild system. Dustin has been notified with this progress.

Michael.

[2021-12-09 10:20] danielo515 commented on #78
Well, that is exactly my use case. So moving everything to the cloud is not, IMO, a good compromise to not make things more self contained?

[2021-12-27 01:35] TheAleSch commented on #81
Thank you! =D

[2022-01-08 22:20] kingpin1905 opened #82 "[FEATURE REQUEST] Deej compatibility"
Add a Deej page/option

(From the deej github):

https://github.com/omriharel/deej

[2022-01-09 17:01] briight commented on #82
iv had it working on both branches

i think u have to add    BluetoothSerial SerialBT;     at the top but its been a long itme since i did it

[2022-01-20 01:22] Humancell opened #83 "KEY_NUM_ASTERISK should be KEY_NUM_ASTERIX in Action.h"
Incredible project and PCBs!  I've just built my first FreeTouchDecks, and they are working great!  After one small change ...

I downloaded everything following your YouTube instructions, and when I went to build I got an error that KEY_NUM_ASTERISK was not defined in scope.  I took a look at BleKeyboard.h and found that the spelling was different: KEY_NUM_ASTERIX

I edited the following line: ht

[2022-01-23 16:34] DustinWatts commented on #83
I updated the BLE Keyboard fork. Let's keep correct spelling where ever possible! :)

[2022-01-23 16:34] #83 closed

[2022-01-23 16:35] DustinWatts commented on #82
What exactly do you mean by "Deej compatibility"?

[2022-01-23 16:36] DustinWatts commented on #81
I fixed the fork with the correct spelling! :)

[2022-01-23 16:36] #81 closed

[2022-01-23 16:38] DustinWatts commented on #80
Hi @danielo515 The case for the ESP32 TouchDown is slightly different. You should print the case from the ESP32 TouchDown page: https://github.com/DustinWatts/ESP32-TouchDown But good idea, I will edit the README.md to point users to this fact!

[2022-01-23 16:38] #80 closed

[2022-01-23 16:48] kingpin1905 commented on #82
Add a page on the FreeTouchDeck and make the Arduino communicate with the Deej.exe (Arduino sends messages to the serial monitor and is picked up by the Deej.exe software)

[2022-02-03 13:50] danielo515 commented on #80
Thank you, now I have the correct one printed

[2022-02-03 19:57] DustinWatts commented on #80
Good to hear!

[2022-02-23 19:47] Warre-Willeme opened #84 "setTouch"
I fixed it.

[2022-02-23 23:02] #84 closed

[2022-04-08 12:51] MoActive opened #85 "TFT shows white screen?"
Hi Dustin,

I have setup everything as explained in the guides and keep getting a white screen.

Findings so far:

- If I enable USECAPTOUCH the screen displays the icons, but are not clickable.
- if I leave everything as explained in the guide in FreeTouchDeck.h and only configure the user_setup.h file for driver ILI9488 the screen is just white.

Tried multiple things, but no luck?

Bought the s

[2022-04-08 12:59] MoActive commented on #85
Finally figured out the issue.

Maybe this should be in the guide, but do not change the WIFI file at all. This was the problem.

[2022-04-08 13:00] #85 closed

[2022-04-09 04:24] DustinWatts commented on #85
Hi Mohammed,

If you use the screen from AliExpress it is a resistive touchscreen so do not uncomment the USECAPTOUCH line.

It could be that the ESP32 was in a continuous reset. You can check this by opening the serial monitor in Arduino at 115200 baud. If it keeps giving reset messages it is resetting before anything is drawn to the screen and the screen just goes white because of the backlight

[2022-04-29 17:45] DustinWatts opened #86 "Screen rotation via console/configurator."
Make the screen orientation configurable via a console command or via the configurator like other options. This way it is not hard-coded.

[2022-04-30 17:08] DustinWatts opened #87 "Add Improv Wi-Fi to web installler"
An addition I didn't have time for to dive in to and will requires code modification is: https://www.improv-wifi.com/

Setting the WiFi settings via (web)serial is already possible (using `setssid` and `setpassword`) but I think this will be a more elegant solutions for the web installer.

Also, https://github.com/tzapu/WiFiManager would be a nice addition instead of my own hacked together fallbac

[2022-05-04 09:59] saksholm opened #88 "Configurator not showing right Numpad options"
There is an HTML/JS rendering bug on the configurator.

When choosing Numpad options for button and save it seems to work. But when come again after restarting it renders non-options. JSON data is ok.

[code]

![Screenshot 2022-05-04 at 12 16 10](https://user-images.githubusercontent.com/15874950/166660616-a1a7e04f-4b7e-42f6-bdf5-3c7ba2e8c35f.png)
![Screenshot 2022-05-04 at 12 17 13](https://user-

[2022-05-04 11:47] saksholm commented on #88
The problem is not only with Numpad's actions... Noticed the same thing also with Function Keys.  So there is some generic bug somewhere.

[2022-05-11 12:46] ZainKergaye opened #89 "Add restart button to Wifi screen"
I think that there should be a restart button on your wifi screen just so that if it doesn't get configured correctly you don't have to manually pull the plug

[2022-05-15 18:06] DustinWatts commented on #89
Good idea!

[2022-05-15 18:28] DustinWatts commented on #89
Btw... FreeTouchDeck will always start and AP if it can't connect to your WiFi so you can always get to it, by connecting to the default AP.

[2022-05-19 02:46] Not-InstaGraham opened #90 "Allow batch upload for icons"
Figured this would be helpful for testing/initial setup when a user might have to reformat the ESP and start from the beginning. Or if somebody would rather just upload all their icons in a single step rather than machine gun them through the web app.

[2022-05-19 02:51] Not-InstaGraham commented on #89
Seems like this would be a handy edition simply because of the sheer variety of setup variants users could have. Ensures a quick way to refresh the ESP without having to connect to the AP every time (assuming you’re having issues with the wifi).

[2022-05-19 07:11] DustinWatts commented on #90
The AsyncWebserver I am using on the ESP32, should be able to handle multiple file uploads at once. Maybe it is a simple as changing this line in the index.html:

_929_:`<input form="uploadfile" type="file" name="name" accept=".bmp"><br /><br />`

to

_929:_`<input form="uploadfile" type="file" name="name" accept=".bmp" multiple><br /><br />`

I will try as soon as I have time. If someone else wan

[2022-05-19 10:10] DustinWatts commented on #89
Let's see if this works for everyone 😄

Off course this is not in the release yet. So only manually compiling and uploading is needed.

[2022-05-19 10:10] DustinWatts commented on #90
Let's see if this works for everyone 😄

Off course this is not in the release yet. So only manually compiling and uploading is needed.

[2022-05-22 08:56] ZornTaov opened #91 "Add "Run Application" Action"
I notice you're already using "Action 2" to start the calculator for windows using Win+R, it would be nice if the Configurator had this option with a textbox prompt for what application to run.

[2022-05-26 21:56] g7wbd opened #92 "BLE does not stay connected !"
each time I power up touchdeck I have to delete old Bluetooth device and search for it again otherwise its fine ?

[2022-05-27 05:31] DustinWatts commented on #92
Did you compile it yourself? Try using the original BLE Keyboard library instead of my fork. Use this library instead: https://github.com/T-vK/ESP32-BLE-Keyboard

[2022-05-27 17:45] NigaMan opened #93 "Management of automated blinds"
And what if you add mqtt broker so that you can manage automated blinds?

[2022-05-27 17:56] DustinWatts commented on #93
There not enough RAM, so BLE, the TFT and WiFi can not be used at the same time. With a next version of the ESP32 TouchDown this might be possible. But not with this version of FreeTouchDeck.

[2022-05-27 17:56] #93 closed

[2022-05-27 17:58] DustinWatts commented on #91
Adding strings to type is a possible future update. For now you can use the FreeTouchDeck Helper application: https://github.com/DustinWatts/FreeTouchDeck-Helper

[2022-05-27 17:58] #91 closed

[2022-05-27 17:59] DustinWatts commented on #90
Well, it works for me so I'm closing this for now. Feel free to re-open if there are any issues.

[2022-05-27 17:59] #90 closed

[2022-05-31 23:50] DustinWatts commented on #79
Check cc944c40cbb3aa55c41793ae6136d601e770a944 This adds the ability to use LitteFS instead of SPIFFS.

[2022-05-31 23:50] #79 closed

[2022-06-01 00:34] DustinWatts commented on #89
No complains a of now. So closing. Feel free to reopen!

[2022-06-01 00:34] #89 closed

[2022-06-05 21:28] #82 closed

[2022-06-05 21:28] #78 closed

[2022-06-06 21:29] #53 closed

[2022-06-07 14:04] frostworx commented on #13
_Preventing the bot from closing the issue_ _(at least I think this comment stops it 😀)_

[2022-06-07 21:31] #45 closed

[2022-06-07 21:31] #40 closed

[2022-06-15 21:29] #6 closed

[2022-06-19 19:56] IdoP7 opened #94 "More buttons"
Hello,
Im trying to get in each menu 12 smaller buttons instead of 6 big.  Somewhere in the middle I get lost… tried few times from scratch without great success…
Someone tried it? Maybe can help? I dont mind to ditch the web server and set each button manually but I must have 12 button in each menu

[2022-07-02 13:11] martinglass opened #95 "Error when compiling FreetouchDeck-0.9.17"
I get this error when compiling the latest release (FreetouchDeck-0.9.17). I'm using Arduino IDE, following the instructions in README.md

_**'KEY_NUM_ASTERISK' was not declared in this scope**_

This error relates to line 532-534 in Action.h
      case 11:
        bleKeyboard.write(KEY_NUM_ASTERISK);
        break;

[2022-07-03 07:34] DustinWatts commented on #95
Hi, this is because you are using an older version of the BLE Keyboard library where I spelled ASTERISK wrong (I spelled it asterix 😉 ) Try the latest version of the library: https://github.com/DustinWatts/ESP32-BLE-Keyboard

[2022-07-05 21:30] #86 closed

[2022-07-06 14:44] realhagie opened #96 "Support non BLE operations"
feature request:

I like to use the FreeTouchDeck on my Desktop Computer without BT.

One Option could be have the ESP act as HID , afaik not possible due to missing host mode on esp32 (prior to S3).
Other option could be have a small Client/Server on the desktop which connects to FreeTouchDeck via network.

[2022-07-14 09:34] martinglass opened #97 "Out of memory Error"
I've appended your boards.txt content to the end of the Arduino boards.txt file, as described in your Wiki page (https://github.com/DustinWatts/esp32-touchdown/wiki/Uploading-code). The same thing happens when I use the ESP32-Dev board and the default settings shown in the Wiki.

I'm Verifying FreeTouchDeck v0.9.17 firmware in Arduino IDE v1.8.19 (Mac).

Using default setting (Default 4MB with spi

[2022-07-14 22:21] DustinWatts commented on #97
Hi Martin,

You should select "2MB APP/2MB SPIFFS". This resolves that issue. If not, feel free to reopen this issue!

[2022-07-14 22:29] martinglass commented on #97
Thanks. Yes, changing the option worked, but I raised is an an Issue here more to signal an error in the Wiki.

Maybe you'll change that?

[2022-07-14 22:42] DustinWatts commented on #97
Ah I see what you mean. That is for uploading code to the ESP32 TouchDown, not necessarily FreeTouchDeck....

[2022-07-14 23:02] martinglass commented on #97
I'm using the ESP32 TouchDown though and uploading the FreeTouchDeck firmware to the ESP32 TouchDown.

[2022-07-21 21:33] #88 closed

[2022-08-02 21:30] #92 closed

[2022-08-07 06:11] frostworx commented on #13
:)

[2022-08-16 16:07] Dansteris opened #98 "Work on WT32-SC01 3,5”?"
Hi,
I bought WT32-SC01 3,5” from 8ms, it board with ESP32 (ESP32 WROVER B) and LCD Capacitive touch, It will work on this board? Or you can add support for this board, its cheap and together ESP32 with LCD.
Thank you

[2022-08-17 16:01] DustinWatts commented on #98
I do not have the board myself, so a I can't confirm but try using this (Discord user `keefmac0843` TFT_eSPI User_Setup.h:

[code]

[2022-08-17 16:02] DustinWatts commented on #96
You could use serial to communicate with a host device. But this requires some work. The best thing is to make it compatible with the S3, which I am working on now :D

[2022-08-17 16:03] DustinWatts commented on #95
I assume this has been resolved? If not... feel free to reopen!

[2022-08-17 16:03] #95 closed

[2022-08-17 16:04] DustinWatts commented on #94
The development branch of this repo has the option for more buttons and menus. The only thing missing is the browser based configurator. So you will have to manually edit the JSON configuration.

[2022-08-27 11:22] Satenex opened #99 "Add support turn off display and additional timers for 1,2,5 minutes."
Now (0.9.17) there is only sleep mode. Is it possible to add a function to turn off the display (screen + backlight) and additional timers for 1,2,5 minutes?

[2022-08-28 04:20] DustinWatts commented on #94
I'm hoping to have some time coming to make the devopment branch stable for release...

[2022-08-28 04:21] DustinWatts commented on #13
Should be possible soon with the new version of FreeTouchDeck and in combination with an ESP32-S3

[2022-08-28 04:23] DustinWatts commented on #99
Good idea.

I'm thinking:

1. Options for screen saver
2. Option for sleep

Both with a separate timer. Kinda like you OS does. Should not be hard to implement.

[2022-09-07 15:46] manoper93 commented on #98
Can you do .bin file flash or web installer for WT32-SC01?

[2022-09-07 16:38] DustinWatts commented on #98
I do not have a WT32-SC01 myself, so it would we difficult to test for me. I might get one and use it for testing. Until that time, you would have to compile for the WT32-SC01 yourself.

[2022-09-07 17:07] manoper93 commented on #98
Please do that, my friends want too.
Can you send me est32devC.bin decompacted?

[2022-09-07 17:19] DustinWatts commented on #98
est32devC.bin is just the FreeTouchDeck.ino.

[2022-09-07 17:20] Dansteris commented on #98
Join to discord server, i can give you working config for WT32-SC01

[2022-09-08 13:57] manoper93 commented on #98
In .ino i need to change touch driver to FT6336U, can you help me?

[2022-09-08 14:16] Dansteris commented on #98
Join to discord, and write to channel: #freetouchdeck, i will help you

[2022-10-01 02:38] hermannw opened #100 "Buttons offset"
I recently discovered this project and I love it! Thanks Dustin for sharing this!
I am using an ESP32DEVKITV1 and I used the web installer. Everything works great with one exception: I did the touch screen calibration multiple times but it looks like the buttons are off.

![image](https://user-images.githubusercontent.com/5613181/193379625-45b81c64-c20b-4a1c-b41a-cf5594e510d9.png)

This is roughly

[2022-10-06 23:58] hermannw commented on #100
Hi Dustin, yes I have redone the calibration several times and there is no change. I am using a veroboard with the ESP one one side and the LCD on the other. I tested it with a breadboard before and it showed the same offset. What could be wrong on the wiring? The ESP board is a different one but from what I understand, the main difference between them is the board and not the processor... I am pl

[2022-10-07 05:24] DustinWatts commented on #100
@hermannw The TFT touch calibration is a function directly from the [TFT_eSPI](https://github.com/Bodmer/TFT_eSPI) library. The resistive touch functions are also taken directly from there. I always tried to fix the reason for the offset. I had it a lot of times during development, and it was always an error in the code. But in the images and the -master version here on Github no such errors exist

[2022-10-08 19:35] hermannw commented on #100
The calibration works ok. I am using a stylus for better precision. All four corners react and at the end there is a message that the calibration was saved.
I just downloaded the repository and compiled it. The result is the same. I'll try with another LCD.
Thanks for the help!

[2022-10-09 23:18] hermannw commented on #100
Well, it was indeed the LCD... I replaced it with another one and that works.

[2022-10-09 23:18] #100 closed

[2022-10-10 05:29] DustinWatts commented on #100
Both are possible. But I am glad that it was the screen and that with another screen it works. I hope you can still get your money back for the faulty one. If not, you can replace only the touch film, it is difficult, but possible.

[2022-10-19 13:10] Tigorko opened #101 "Latching issue on screen 3 position 4"
Hello
First of all, thank you for your time developing this product, it's excellent and I love it and hope it will be even better in the future.
After two weeks of usage, I encountered a bug that does not go away even after a complete reinstall.

On Menu 3, position 4, latching does not work. I can press this button and the shortcut is executed, but the graphical update is not.

[2022-10-19 13:22] DustinWatts commented on #101
Hi @Tigorko Thanks for the report. I will look in to it and fix it!

[2022-10-19 13:40] DustinWatts commented on #101
Found a missing line in `ConfigLoad.h` line `970` should start with `menu3.button3.latch = doc["button3"]["latch"] | false;` will fix this in the next release.

[2022-10-23 21:36] #96 closed

[2022-11-04 21:30] #99 closed

[2022-11-04 21:30] #94 closed

[2022-11-04 21:30] #13 closed

[2022-11-04 22:23] Satenex commented on #99
up

[2022-11-10 18:26] griffinmt opened #102 "Getting just a partly lit screen"
Where are the pins of the ESP32 defined to work the Touchscreen, in particular T_CLK,T_DIN,T_OUT,T_IRQ. I have the screen wired up for T_CLK=G18,T_DIN=G23,T_OUT=G19,T_IRQ=G27
BTW: Using a 3.5" ILI9488

[2022-11-10 19:56] DustinWatts commented on #102
They are defined in User_Setup.h in the TFT_eSPI library. Also make sure you wire up the BL (Backlight) pin. Either to a pin defined in User_Setup.h or directly to 3.3V. If you hook it up to 3.3V the backlight is always lit so I do not recommend it, but it is a good way to test.

[2022-11-10 20:37] griffinmt commented on #102
But this touch pins are not defined anywhere. I would add them myself, but what are they named. For examble, is it TOUCH_IRQ or TFT_T_IRQ or just _IRQ.

[2022-11-10 20:41] DustinWatts commented on #102
They are not defined separately if you are using the ILI9488 module, becuase both the screen and touch use SPI. You can find the correct setup in for an ESP32 with ILI9488 module here: [ESP32_Dev_Kit_V1_ILI9488_Resistive.h](https://github.com/DustinWatts/FreeTouchDeck/blob/master/user_setup.h%20Examples/ESP32_Dev_Kit_V1_ILI9488_Resistive.h)

[2022-11-10 22:57] griffinmt commented on #102
So, I dont need to physically wire and pins to the display touch screen connections other than T_CS. Is that correct?

[2022-11-11 11:10] DustinWatts commented on #102
No, you also nee to wire T_DIN, T_DO, T_CS and T_CLK. Because although in software they are the same (except for T_DO, which is not used by the screen), the SPI pins on the module for the screen and the touch controller are not connected on the PCB.

[2022-11-11 13:31] griffinmt commented on #102
I was going to buy your pcb for doing this, as the first one was essentially free, till I found out there was a $29 shipping fee.

[2022-11-11 20:14] griffinmt commented on #102
Go some results today. I switched over to an ILI9341 display, and altered some pin assignments, and I got the button screen up!!! BUT that screen is smaller than the 88, so I only see the top two buttons and part of the two below them. Is there a way to shrink everything proportionally?

[2022-11-11 20:19] DustinWatts commented on #102
Yes there is. In FreeTouchDeck.ino you can define the height and width of the screen.

[@ line 157](https://github.com/DustinWatts/FreeTouchDeck/blob/2960b802affec841c23b6c59b7a4a969813af89d/FreeTouchDeck.ino#L157)

[code]

If you do that, everything should scale accordingly.

[2022-11-11 20:23] griffinmt commented on #102
I am a dummy some times!!!

[2022-11-11 20:27] DustinWatts commented on #102
If you've written the software, it is easy to find. 😉

[2022-11-11 20:42] griffinmt commented on #102
Just an FYI: These are my current settings that work on the 9341 but not on the 9488. Will order a new one.
Thanks for your help.
#define TFT_MISO 19
#define TOUCH_DO 19
#define TFT_MOSI 23
#define TOUCH_DIN 23
#define TFT_SCLK 18
#define TOUCH_SCLK 18
#define TFT_CS   15  // Chip select control pin
#define TFT_DC    27  // Data Command control pin
#define TFT_RST   4  // Reset pin (could connect

[2022-11-11 20:43] #102 closed

[2022-11-12 04:51] 1wenter1 opened #103 "After web-install toch does not work"
Hi,
I have connected all the wires to the esp32 according to https://github.com/DustinWatts/ESP32_TFT_Combiner#these-are-the-connections-used-by-the-tft-and-sd-card
I have made all necessary changes in the tft config. I am using ILIU9488 screen.
After installation TouchDeck home screen is visible but touch itself does not work. I have tried manual installation, but after sketch upload it went to w

[2022-11-12 12:52] DustinWatts commented on #103
The ILI9488 module (the red one) with a separate ESP32 does not use capacitive touch but resistive touch. Are you sure you are installing the correct version with the webinstaller? And when you do it manually, you should keep USECAPTOUCH commented out.

[2022-11-15 21:29] #98 closed

[2022-11-29 17:52] kraa965 opened #104 "An idea for improvement"
I came up with the idea to be able to insert text in the configurator, and when you press the button on FTD, this text is inserted into the active text input field
It would be cool to make such an opportunity, for example, I often have to insert template text at work, which would simplify the work